# Aula pratica em Pandas
Para este exemplo se utilizara uma base de dados com informação da Amazona sobre compras. Os dados de esta base de dado não são reais

In [1]:
# Realizando a importação
import pandas as pd
import numpy as np

### Realize a importação dos dados utilizando a biblioteca Pandas e armazene essa tabela numa variável com o nome “tabela_original”.

In [193]:
tabela_bruta = pd.read_csv("Ecommerce Purchases.txt", sep="\t")
tabela_bruta

,Unnamed: 0,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

### Identifique o número de filas e colunas presentes aplicando dois métodos diferentes.

#### Método 1

In [39]:
tabela_bruta.shape

(10000, 15)

#### Método 2

In [40]:
tabela_bruta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        10000 non-null  int64
 1   Address           10000 non-null  object
 2   Lot               10000 non-null  object
 3   AM or PM          10000 non-null  object
 4   Browser Info      10000 non-null  object
 5   Company           10000 non-null  object
 6   Credit Card       10000 non-null  int64
 7   CC Exp Date       10000 non-null  object
 8   CC Security Code  10000 non-null  int64
 9   CC Provider       10000 non-null  object
 10  Email             10000 non-null  object
 11  Job               10000 non-null  object
 12  IP Address        10000 non-null  object
 13  Language          10000 non-null  object
 14  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(3), object(11)
memory usage: 1.1+ MB

### Identifique a existências de valores Null utilizando pelo menos duas formas diferentes.

#### Método 1

In [45]:
tabela_bruta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        10000 non-null  int64
 1   Address           10000 non-null  object
 2   Lot               10000 non-null  object
 3   AM or PM          10000 non-null  object
 4   Browser Info      10000 non-null  object
 5   Company           10000 non-null  object
 6   Credit Card       10000 non-null  int64
 7   CC Exp Date       10000 non-null  object
 8   CC Security Code  10000 non-null  int64
 9   CC Provider       10000 non-null  object
 10  Email             10000 non-null  object
 11  Job               10000 non-null  object
 12  IP Address        10000 non-null  object
 13  Language          10000 non-null  object
 14  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(3), object(11)
memory usage: 1.1+ MB

#### Método 2

In [57]:
tabela_bruta.isnull().any()

Unnamed: 0          False
Address             False
Lot                 False
AM or PM            False
Browser Info        False
Company             False
Credit Card         False
CC Exp Date         False
CC Security Code    False
CC Provider         False
Email               False
Job                 False
IP Address          False
Language            False
Purchase Price      False
dtype: bool

### Mostre os Labels das colunas.

In [131]:
tabela_bruta.columns

Index(['Unnamed: 0', 'Address', 'Lot', 'AM or PM', 'Browser Info', 'Company',
       'Credit Card', 'CC Exp Date', 'CC Security Code', 'CC Provider',
       'Email', 'Job', 'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

### Elimine a primeira coluna e a coluna Lot. Está modificação deve afetar o DataFrame original. Está modificação afeta o tamanho do DataFrame na memória? Quantifique a diferença.

In [194]:
tamanho_kb_original = tabela_bruta.memory_usage().sum()

In [195]:
tabela_bruta.drop(["Unnamed: 0", "Lot"], axis=1, inplace=True)
tamanho_kb_mod = tabela_bruta.memory_usage().sum()

In [196]:
print(tamanho_kb_original/10**6)
print(tamanho_kb_mod/10**6)
(tamanho_kb_original - tamanho_kb_mod)

1.200128
1.040128

160000

### Identifique quantas compras foram realizadas por um valor igual a zero e elimine esses registros da tabela original aplicando duas alternativas diferentes.

In [197]:
tabela_bruta[tabela_bruta["Purchase Price"] == 0]

,Address,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
2876,"332 Jones Parkways\nEast Katherineville, GA 64230",AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_9...,"Lyons, Diaz and Clark",4204500444841766,01/18,38,VISA 16 digit,jennifer11@baker.com,Biomedical scientist,223.47.177.174,it,0.0
5487,"465 Mallory Ways\nNorth Rebecca, RI 82734-1160",PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Flynn and Sons,30469912089738,09/23,236,Discover,mjohnson@austin.org,Stage manager,43.99.56.59,zh,0.0

#### Alternativa 1. Esta alternativa é a mais indicada

In [198]:
index_para_eliminar = tabela_bruta[tabela_bruta["Purchase Price"] == 0].index

In [199]:
tabela_bruta.drop(index_para_eliminar, axis=0, inplace=True)

In [200]:
tabela_bruta

,Address,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

#### Alternativa 2

In [124]:
tabela_bruta = tabela_bruta[tabela_bruta["Purchase Price"] != 0]

In [125]:
tabela_bruta

,Unnamed: 0,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

### Qual é o valor mínimo, máximo e médio de todas as compras realizadas.

In [8]:
tabela_bruta['Purchase Price'].agg([min, max, np.mean, np.std])

min      0.000000
max     99.990000
mean    50.347302
std     29.015836
Name: Purchase Price, dtype: float64

### Identifique quais idiomas são registrados no momento de realizar as compras

#### Idiomas registrados

In [145]:
tabela_bruta["Language"].unique()

array(['el', 'fr', 'de', 'es', 'ru', 'pt', 'zh', 'en', 'it'], dtype=object)

####  Quantidade de idiomas registrados

In [146]:
tabela_bruta["Language"].nunique()

9

### Apresente os idiomas por ordem de maior a menor quantidade de compras

In [38]:
tabela_bruta["Language"].value_counts()

ru    1155
de    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1085
zh    1058
Name: Language, dtype: int64

### Verifique qual idioma registra o maior e o menor número de compras

#### Idioma com maior número de compras

In [36]:
tabela_bruta["Language"].value_counts().index[0]

'ru'

#### Idioma com menor número de compras

In [37]:
tabela_bruta["Language"].value_counts().index[-1]

'zh'

### Apresente os idiomas que o valor médio da compra é superior ao valor médio de todas as compras

In [31]:
tabela_groupby_1 = tabela_bruta.groupby("Language")["Purchase Price"].mean()
tabela_groupby1

Language
de    50.254485
el    51.555356
en    51.103015
es    49.366977
fr    49.476718
it    50.047088
pt    51.215546
ru    49.927134
zh    50.227628
Name: Purchase Price, dtype: float64

In [34]:
tabela_groupby_1[tabela_groupby_1 > tabela_bruta["Purchase Price"].mean()]

Language
el    51.555356
en    51.103015
pt    51.215546
Name: Purchase Price, dtype: float64

### Apresente os idiomas que o valor médio da compra é inferior ao valor médio de todas as compras

In [35]:
tabela_groupby_1[tabela_groupby_1 < tabela_bruta["Purchase Price"].mean()]

Language
de    50.254485
es    49.366977
fr    49.476718
it    50.047088
ru    49.927134
zh    50.227628
Name: Purchase Price, dtype: float64

### Apresente um DataFrame que mostre o número de compras, o valor médio das compras, o maior valor gastado, o menor valor gasto em função da profissão

In [52]:
tabela_groupby_2 = tabela_bruta.groupby("Job").agg({"Purchase Price": [len, np.mean, max, min]})
tabela_groupby_2

                                 Purchase Price
                                            len       mean    max    min
Job
Academic librarian                         11.0  47.951818  95.15   0.76
Accommodation manager                      17.0  37.038235  80.78   5.48
Accountant, chartered                      20.0  52.565500  98.54   0.49
Accountant, chartered certified            18.0  57.945000  96.78   8.38
Accountant, chartered management           15.0  69.082667  99.90  18.71
...                                         ...        ...    ...    ...
Water quality scientist                    18.0  46.526111  95.60   1.69
Web designer                               20.0  59.764500  95.84  10.90
Wellsite geologist                         24.0  51.309167  98.42   4.40
Writer                                     10.0  44.863000  92.33   5.94
Youth worker                               18.0  40.513333  98.62   4.68

[623 rows x 4 columns]

### Organize o DataFrame realizado previamente de maior a menor para média, valor máximo e número de compras

In [50]:
columns = tabela_groupby_2.columns
columns

MultiIndex([('Purchase Price',  'len'),
            ('Purchase Price', 'mean'),
            ('Purchase Price',  'max'),
            ('Purchase Price',  'min')],
           )

In [54]:
tabela_groupby_2.sort_values(by=[columns[1], columns[2], columns[0]], ascending=False)

                                 Purchase Price
                                            len       mean    max    min
Job
Trade mark attorney                        11.0  73.802727  88.83   2.62
Stage manager                               6.0  72.358333  81.91  55.56
Translator                                 17.0  70.777647  95.29  12.69
Investment analyst                          5.0  69.090000  87.72  18.24
Accountant, chartered management           15.0  69.082667  99.90  18.71
...                                         ...        ...    ...    ...
Theatre stage manager                      14.0  31.580000  89.44   1.94
Editor, magazine features                  17.0  31.445294  83.30   4.10
Engineer, production                       12.0  27.771667  75.70   0.80
Art gallery manager                         8.0  27.381250  56.85   9.34
Marketing executive                         9.0  26.008889  93.82   2.44

[623 rows x 4 columns]

### Modifique a coluna Email. Esta coluna deve de conter somente o servidor de e-mail utilizado no momento de realizar o registo. Exemplo: nome@email.com → email.com

In [63]:
tabela_bruta["Email"] = tabela_bruta["Email"].apply(lambda x: x[x.find("@")+1:])

### Mostre quantas compras são realizadas durante o dia e quantas durante a noite

#### Compras durante o dia

In [73]:
sum(tabela_bruta["AM or PM"] == "AM")

4931

#### Compras durante a noite

In [75]:
sum(tabela_bruta["AM or PM"] == "PM")

5067

### Identifique quais são servidores de e-mail que mais se registram durante o dia e durante a noite

#### Registros durante o dia

In [82]:
tabela_bruta[tabela_bruta["AM or PM"] == "AM"]["Email"].value_counts().head()

hotmail.com    808
yahoo.com      794
gmail.com      747
smith.com       20
brown.com       17
Name: Email, dtype: int64

#### Registros durante a noite

In [84]:
tabela_bruta[tabela_bruta["AM or PM"] == "PM"]["Email"].value_counts().head()

gmail.com       858
hotmail.com     830
yahoo.com       822
williams.com     24
smith.com        22
Name: Email, dtype: int64

### Identifique os 5 profissões de e-mail que menos dinheiro gastam durante o dia e durante a noite

#### Registros durante o dia

In [91]:
tabela_bruta[tabela_bruta["AM or PM"] == "AM"].groupby("Job")["Purchase Price"].mean().sort_values().head()

Job
Trade union research officer    11.740000
Nurse, learning disability      11.745000
Housing manager/officer         16.515000
Commissioning editor            16.612000
Engineer, production            16.885714
Name: Purchase Price, dtype: float64

#### Registro durante a noite

In [92]:
tabela_bruta[tabela_bruta["AM or PM"] == "PM"].groupby("Job")["Purchase Price"].mean().sort_values().head()

Job
Exhibitions officer, museum/gallery    13.003333
Art gallery manager                    14.730000
Marketing executive                    15.632500
Learning mentor                        20.045000
Information systems manager            21.630000
Name: Purchase Price, dtype: float64

In [95]:
tabela_bruta["Address"].iloc[-1]

'40674 Barrett Stravenue\nGrimesville, WI 79682'

### Identifique as 5 empresas que realizaram mais compras, quantas compras as empresas realizaram, o valor máximo e mínimos das compras, o valor total e o valor médio que as empresas gastaram.

#### Empresas com mais compras

In [109]:
tabela_bruta["Company"].value_counts().head()

Brown Ltd       15
Smith Group     15
Smith PLC       13
Smith LLC       13
Williams LLC    12
Name: Company, dtype: int64

In [118]:
tabela_bruta.groupby("Company").agg({"Purchase Price": [len,
                                                        max,
                                                        min,
                                                        sum,
                                                        np.mean]}).sort_values(by=[("Purchase Price", "len"), 
                                                                                   ("Purchase Price", "mean")],
                                                                               ascending=False).head()

             Purchase Price
                        len    max    min     sum       mean
Company
Brown Ltd              15.0  99.13  14.68  796.38  53.092000
Smith Group            15.0  88.86   5.48  592.54  39.502667
Smith LLC              13.0  97.23  10.95  637.92  49.070769
Smith PLC              13.0  89.09   0.45  601.37  46.259231
Williams LLC           12.0  95.42   8.46  723.63  60.302500

### Crie um DataFrame utilizando a informação da coluna Browser Info. O novo DataFrame tem que ter duas colunas, uma sendo o navegador utilizado e a outra o sistema operativo e outra.

####  Coluna com navegadores

In [201]:
coluna_1 = tabela_bruta["Browser Info"].apply(lambda x: x[: x.find('/')])

#### Coluna com sistema operativo

In [202]:
import re
def sistema_operativo(x):
    browser_info = re.sub('[^a-zA-Z]+', ' ', x.lower()).split(" ")    
    if "linux" in browser_info:
        return "Linux"
    elif "windows" in browser_info:
        return "Windows"
    else:
        return "Macintosh"



coluna_2 = tabela_bruta["Browser Info"].apply(sistema_operativo)

#### Criando o novo DataFrame

In [208]:
dict_df = {"Browser": coluna_1, "OS": coluna_2}
novo_df = pd.DataFrame(dict_df)

In [209]:
novo_df["OS"].unique()

array(['Linux', 'Windows', 'Macintosh'], dtype=object)

### Elimine a coluna  Browser Info e junte os dois DataFrame

In [210]:
del tabela_bruta["Browser Info"]
tabela_bruta = pd.concat([tabela_bruta, novo_df], axis=1)

In [211]:
tabela_bruta

,Address,AM or PM,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Browser,OS
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",PM,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,Opera,Linux
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",PM,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,Opera,Windows
2,Unit 0065 Box 5052\nDPO AP 27450,PM,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,Mozilla,Windows
3,"7780 Julia Fords\nNew Stacy, WA 45798",PM,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,Mozilla,Macintosh
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",AM,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,Opera,Linux
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",PM,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21,Mozilla,Windows
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",AM,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,Mozilla,Windows
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,AM,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98,Mozilla,Macintosh
9998,"0096 English Rest\nRoystad, IA 12457",PM,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84,Mozilla,Macintosh
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",AM,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59,Mozilla,Linux

### Qual são os sistemas operativos mais utilizados e qual é o valor total, valor médio, valor máximo e mínimo registrados com esses sistemas operativos?

In [216]:
tabela_bruta["OS"].value_counts()

Windows      4994
Macintosh    2683
Linux        2321
Name: OS, dtype: int64

In [218]:
tabela_bruta.groupby("OS").agg({"Purchase Price": [sum, np.mean, max, min]})

          Purchase Price
                     sum       mean    max   min
OS
Linux          118080.43  50.874808  99.99  0.14
Macintosh      131945.32  49.178278  99.99  0.01
Windows        253447.27  50.750354  99.97  0.10