# Aula 12. Pandas
<img  src= "img/pandas1.jpeg" style="width:500px; height:500px">

Pandas é uma das bibliotecas mais utilizadas em Python para manipulação e análise de dados. Esta biblioteca é de código aberto, escrita em Numpy e oferece estruturas e operações para manipulação de tabelas numéricas e séries temporais.

Os principais destaques são:
- Possui dois tipos de objetos `pandas.core.frame.DataFrame` e `pandas.core.series.Series` com indexação integrada;
- Facilita a leitura, escrita e modificação de arquivos com diferentes formatos, entre os quais se destaca .csv, .txt, .xlsx, SQL, HDF5 (Hierarchical Data Format version 5) dentre outros;
- Permite tabelas com diferentes niveis de indexação;
- Permite agrupamento de dados por categorias;
- Realiza mesclagem e junção de conjuntos de dados com alto desempenho;
- Altamente otimizado com códigos escritos em Cython e C;
- Pandas é amplamente utilizado em ambientes acadêmicos e comerciais, incluindo finanças, neurociência, economia, estatística, publicidade, análise da web e muito mais.
---
 
  <font size="6"> Os tópicos que vamos abordar nesta série de conversas são:</font>

- [X] Instalação de pandas;
- [x] Importando pandas;
- [x] Series;
- [x] DataFrame e manipulação;
 - [X] Criação de DataFrame;
 - [X] Extraindo informação por colunas. CUIDADO COM NOTAÇÃO SQL;
 - [X] Extraindo utilizando função loc;
 - [X] Extraindo utilizando função iloc;
 - [X] Adicionando novas colunas;
 - [X] Adicionando novas filas (função append);
 - [X] Eliminando colunas ou filas.
- [X] Operadores de comparação e seleção condicional;
- [X] Dados ausentes;
 - [X] Dropna
 - [X] filna
 - [X] replace
- [X] Groupby, aggregate e apply
- [ ] Juntando diffenrentes `DataFrame` 
 - [ ] `concat`
 - [ ] `merge`
 - [ ] `join`
- [ ] Operações
 - [ ] unique
 - [ ] nunique
 - [ ] value_counts
 - [ ] del ( )
 - [ ] columns
 - [ ] index
 - [ ] sort_values
 - [ ] pivol
- [ ] Importando e exportando dados.
 - [ ] csv
 - [ ] excell
 - [ ] html
- Aplicação
---
<font size="5"> Recomento visitar o site oficial do projeto [Pandas](https://pandas.pydata.org/) para conhecer mais um pouco desta biblioteca.</font>

## Intalação do pandas

Para instalar pandas no nosso computador podemos utilizar o condas ou o pip.
```python
conda install pandas
pip install pandas
```

## importando pandas e numpy

In [1]:
import pandas as pd
import numpy as np

## Series
O conceito principal de uma [Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html) em Pandas e trabalhar com vetores a partir do indice ou labels. A sintaxe para definir uma Series é:
```python
 pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
```

In [2]:
# Definindo algumas variaveis que vamos utilizar
valores  = np.random.randn(1, 10).reshape(10,)
index_row = "A B C D E F G H I J".split(" ")
d = {key: value for key, value in zip(index_row, valores)}

In [3]:
# Criando uma Series passando somente os valores
pd.Series(valores)

0    0.449491
1    0.428476
2   -1.050430
3   -1.354350
4    1.407481
5   -1.010808
6    0.488447
7   -0.508189
8    1.240611
9    2.168526
dtype: float64

In [4]:
# Criando uma Series passando data e index
pd.Series(data=valores, index=index_row)

A    0.449491
B    0.428476
C   -1.050430
D   -1.354350
E    1.407481
F   -1.010808
G    0.488447
H   -0.508189
I    1.240611
J    2.168526
dtype: float64

In [5]:
# Observemos que pomodes criar uma Series passando qualquer tipo de dados
pd.Series(index=valores, data=index_row)

 0.449491    A
 0.428476    B
-1.050430    C
-1.354350    D
 1.407481    E
-1.010808    F
 0.488447    G
-0.508189    H
 1.240611    I
 2.168526    J
dtype: object

In [6]:
# Observemos que uma Series se comporta muito semelhante ao dicionário dado que ela trabalhar com chave: valor,
# portanto podemos criar uma Seires passando um dicionário
pd.Series(d)

A    0.449491
B    0.428476
C   -1.050430
D   -1.354350
E    1.407481
F   -1.010808
G    0.488447
H   -0.508189
I    1.240611
J    2.168526
dtype: float64

Mas qual é a vantagem de utilizar uma Series em relação ao arrays?

In [7]:
series_1 = pd.Series(data=[5, 10, 20, 30, 8], index="A B C D J".split(" "))
series_2 = pd.Series(data=[20, 15, 15, 5, 25], index="A B K D C".split(" "))
print(series_1)
print(series_2)
print(series_1 + series_2)

A     5
B    10
C    20
D    30
J     8
dtype: int64
A    20
B    15
K    15
D     5
C    25
dtype: int64
A    25.0
B    25.0
C    45.0
D    35.0
J     NaN
K     NaN
dtype: float64

## DataFrame e manipulação
O objeto principal de Pandas é o [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html), este objeto se aproxima ao que conhecemos como planilha de excell (somente em aparência). Para definir um DataFrame utilizamos a seguinte sintaxe:
```python
pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
```
Neste caso os argumentos mais relevantes são `data`, `index` e `columns`, porém o único argumento obrigatório é o `data`.

### Criação de DataFrame

In [8]:
data = np.arange(1, 17).reshape((4,4))
index = "Row_1 Row_2 Row_3 Row_4".split(" ")
col = "Col_1 Col_2 Col_3 Col_4".split(" ")

In [9]:
data

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [10]:
# Definindo um DataFrame passando data
pd.DataFrame(data)

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [11]:
# Definindo um DataFrame passando data e index
pd.DataFrame(data, index)

        0   1   2   3
Row_1   1   2   3   4
Row_2   5   6   7   8
Row_3   9  10  11  12
Row_4  13  14  15  16

In [12]:
# Definindo um DataFrame passando todos data, index e columns
data_frame = pd.DataFrame(data, index, col)
data_frame

       Col_1  Col_2  Col_3  Col_4
Row_1      1      2      3      4
Row_2      5      6      7      8
Row_3      9     10     11     12
Row_4     13     14     15     16

### Extraindo informação por colunas. *CUIDADO COM NOTAÇÃO SQL*

In [15]:
# Extraindo informação da columna Col_4
data_frame["Col_4"]

Row_1     4
Row_2     8
Row_3    12
Row_4    16
Name: Col_4, dtype: int64

In [16]:
# Podemos utilizar a notação de ponto e o nome da columna, porém esta forma não é recomendada
data_frame.Col_3

Row_1     3
Row_2     7
Row_3    11
Row_4    15
Name: Col_3, dtype: int64

### Extraindo utilizando função loc
A propriedade [`loc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) permite obter os dados de um DataFrame a partir dos labels das filas e das coluna. A sintaxe para aplicar esta propriedade é:
```python
DataFrame.loc[]
```

In [18]:
# Podemos utilizar a função loc para extrair informação utilizando o índice da fila e o nome da coluna
data_frame.loc["Row_1", "Col_1"]

1

In [19]:
# Para extrair diferentes colunas ou fila passamos uma lista com os nomes das colunas e filas
data_frame.loc[["Row_1", "Row_4"], ["Col_1", "Col_4"]]

       Col_1  Col_4
Row_1      1      4
Row_4     13     16

In [20]:
# Também podemos utilizar a função loc para extrair filas
data_frame.loc["Row_3"]

Col_1     9
Col_2    10
Col_3    11
Col_4    12
Name: Row_3, dtype: int64

### Extraindo utilizando função iloc
Existe outra forma de extrair os valores de um DataFrame utilizando a notação aprendida em Numpy, para isso utilizamos a propriedade [`iloc`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html):
```python
DataFrame.iloc[]
```

In [21]:
data_frame.iloc[0, 0]

1

In [22]:
data_frame.iloc[ [0, -1], [0, -1]]

       Col_1  Col_4
Row_1      1      4
Row_4     13     16

In [23]:
data_frame.iloc[2]

Col_1     9
Col_2    10
Col_3    11
Col_4    12
Name: Row_3, dtype: int64

In [24]:
data_frame.iloc[2:]

       Col_1  Col_2  Col_3  Col_4
Row_3      9     10     11     12
Row_4     13     14     15     16

### Adicionando novas colunas

In [25]:
data_frame["Col_nova"] = data_frame.iloc[:, -1] + data_frame.iloc[:, 0]
data_frame

       Col_1  Col_2  Col_3  Col_4  Col_nova
Row_1      1      2      3      4         5
Row_2      5      6      7      8        13
Row_3      9     10     11     12        21
Row_4     13     14     15     16        29

In [26]:
data_frame["Col_nova_2"]  = 2
data_frame

       Col_1  Col_2  Col_3  Col_4  Col_nova  Col_nova_2
Row_1      1      2      3      4         5           2
Row_2      5      6      7      8        13           2
Row_3      9     10     11     12        21           2
Row_4     13     14     15     16        29           2

In [27]:
data_frame

       Col_1  Col_2  Col_3  Col_4  Col_nova  Col_nova_2
Row_1      1      2      3      4         5           2
Row_2      5      6      7      8        13           2
Row_3      9     10     11     12        21           2
Row_4     13     14     15     16        29           2

### Adicionando novas filas (função append)
Para adicionar uma nova fila utilizamos a função [append()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.append.html), essa função adiciona uma nova (ou novas) fila(s) no final do DataFrame. A sintaxe utilizada para isso é:
```python
DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=False)
```

In [28]:
np.array([[1,2,3,4]])

array([[1, 2, 3, 4]])

In [29]:
data_frame2 = pd.DataFrame([[1,2,3,4]], columns=col)
data_frame.append(data_frame2)

       Col_1  Col_2  Col_3  Col_4  Col_nova  Col_nova_2
Row_1      1      2      3      4       5.0         2.0
Row_2      5      6      7      8      13.0         2.0
Row_3      9     10     11     12      21.0         2.0
Row_4     13     14     15     16      29.0         2.0
0          1      2      3      4       NaN         NaN

In [30]:
data_frame.append(data_frame*10)

       Col_1  Col_2  Col_3  Col_4  Col_nova  Col_nova_2
Row_1      1      2      3      4         5           2
Row_2      5      6      7      8        13           2
Row_3      9     10     11     12        21           2
Row_4     13     14     15     16        29           2
Row_1     10     20     30     40        50          20
Row_2     50     60     70     80       130          20
Row_3     90    100    110    120       210          20
Row_4    130    140    150    160       290          20

### Eliminando colunas ou filas
Para eliminar colunas ou filas de um DataFrame utilizamos a função [`drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html). Neste caso se deve passar o indice da fila que será eliminada ou o label da coluna. Além disso, deve-se especificar o `axis` o qual é 0 para filas e 1 para columnas. A sintaxe utilizada é:

```python
DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
```

In [31]:
data_frame

       Col_1  Col_2  Col_3  Col_4  Col_nova  Col_nova_2
Row_1      1      2      3      4         5           2
Row_2      5      6      7      8        13           2
Row_3      9     10     11     12        21           2
Row_4     13     14     15     16        29           2

In [32]:
# Eliminando a primeira fila
data_frame.drop("Row_1", axis=0)

       Col_1  Col_2  Col_3  Col_4  Col_nova  Col_nova_2
Row_2      5      6      7      8        13           2
Row_3      9     10     11     12        21           2
Row_4     13     14     15     16        29           2

In [33]:
# Eliminando varias filas 
data_frame.drop(["Row_1", "Row_3"], axis=0)

       Col_1  Col_2  Col_3  Col_4  Col_nova  Col_nova_2
Row_2      5      6      7      8        13           2
Row_4     13     14     15     16        29           2

In [34]:
# Eliminando a primeira coluna
data_frame.drop("Col_1", axis=1)

       Col_2  Col_3  Col_4  Col_nova  Col_nova_2
Row_1      2      3      4         5           2
Row_2      6      7      8        13           2
Row_3     10     11     12        21           2
Row_4     14     15     16        29           2

In [35]:
data_frame

       Col_1  Col_2  Col_3  Col_4  Col_nova  Col_nova_2
Row_1      1      2      3      4         5           2
Row_2      5      6      7      8        13           2
Row_3      9     10     11     12        21           2
Row_4     13     14     15     16        29           2

In [36]:
# Eliminando a varias colunas coluna
data_frame.drop(["Col_1", "Col_4"], axis=1, inplace=True)

In [37]:
data_frame
# é interessante o fato de não modificar o data_frame original?

       Col_2  Col_3  Col_nova  Col_nova_2
Row_1      2      3         5           2
Row_2      6      7        13           2
Row_3     10     11        21           2
Row_4     14     15        29           2

## Operadores de comparação e seleção condicional
Da mesma forma que é possível aplicar operadores de comparação em arrays, com pandas podemos aplicar os mesmos operadores.

In [38]:
# Criando dados para trabalhar
np.random.seed(100)
data2 = np.random.randint(-10, 10, (5,5))
col2 = [f"Col_{i}" for i in range(1, 6)]
row2 = [f"Row_{i}" for i in range(1, 6)]
data_frame2 = pd.DataFrame(data2, row2, col2)
data_frame2

       Col_1  Col_2  Col_3  Col_4  Col_5
Row_1     -2     -7     -3      5      6
Row_2      0     -8     -8     -8      4
Row_3     -8      7      6      5     -6
Row_4      1      6     -1     -8      2
Row_5     -6     -9      3      9     -6

In [39]:
data_frame2 > 0

       Col_1  Col_2  Col_3  Col_4  Col_5
Row_1  False  False  False   True   True
Row_2  False  False  False  False   True
Row_3  False   True   True   True  False
Row_4   True   True  False  False   True
Row_5  False  False   True   True  False

In [40]:
# Podemos atribuir esse teste de comparação a uma variável e utiliza-o para realizar seleção
comp = data_frame2 > 0
data_frame2[comp] 
# data_frame2[data_frame2 > 0] 
data_frame2

       Col_1  Col_2  Col_3  Col_4  Col_5
Row_1     -2     -7     -3      5      6
Row_2      0     -8     -8     -8      4
Row_3     -8      7      6      5     -6
Row_4      1      6     -1     -8      2
Row_5     -6     -9      3      9     -6

In [41]:
# Aplicando uma comparação numa serie
comp = data_frame2["Col_5"] > 0
data_frame2[comp]["Col_1"]
data_frame2

       Col_1  Col_2  Col_3  Col_4  Col_5
Row_1     -2     -7     -3      5      6
Row_2      0     -8     -8     -8      4
Row_3     -8      7      6      5     -6
Row_4      1      6     -1     -8      2
Row_5     -6     -9      3      9     -6

In [42]:
# Aplicando comparações multiples
comp1 = data_frame2["Col_5"] >= 2 #(Row_1, Row_2 e Row_4)
comp2 = data_frame2["Col_3"] < -1 # (Row_1, Row_2)
data_frame2[comp2 & comp1]

       Col_1  Col_2  Col_3  Col_4  Col_5
Row_1     -2     -7     -3      5      6
Row_2      0     -8     -8     -8      4

In [43]:
# As tres linhas anteriores são equivalentes a:
data_frame2[(data_frame2["Col_5"] >= 2) & (data_frame2["Col_3"] < -1)]

       Col_1  Col_2  Col_3  Col_4  Col_5
Row_1     -2     -7     -3      5      6
Row_2      0     -8     -8     -8      4

In [44]:
data_frame2

       Col_1  Col_2  Col_3  Col_4  Col_5
Row_1     -2     -7     -3      5      6
Row_2      0     -8     -8     -8      4
Row_3     -8      7      6      5     -6
Row_4      1      6     -1     -8      2
Row_5     -6     -9      3      9     -6

## Dados ausentes
Quando trabalhamos com dados provenientes de fontes externas (como base de dados, dados de sensores, etc), pode acontecer que existam dados com valores "inapropriados" ou valores ausentes. Nesse caso a biblioteca Pandas ajuda a processar esses valores.

Cabe destacar que o conceito de dado "inapropriado" varia de cenário para cenário e aforma de tratar esses dados pode varia. Porém, Pandas possui uma diversa variedade de funções e metódos que podem ser utilizados para essa finalidade.

Recomendo a leitura de [Working with missing data](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html). Nesta leitura a empresa desenvolvedora da biblioteca Pandas apresenta varias formas de processar dados ausentes.

In [64]:
# Criando data frame com valores nan
np.random.seed(100)
n = 10
data2 = np.random.randint(-10, 10, (n, n)).astype(object)
col2 = [f"Col_{i}" for i in range(1, n + 1)]
row2 = [f"Row_{i}" for i in range(1, n + 1)]
for r in range(n):
    for c in range(n):
        if np.random.random() < 0.25:
            data2[r, c] = np.nan
data_frame_nan = pd.DataFrame(data2, row2, col2)
data_frame_nan

       Col_1 Col_2 Col_3 Col_4 Col_5 Col_6 Col_7 Col_8 Col_9 Col_10
Row_1     -2    -7   NaN     5     6     0    -8    -8    -8      4
Row_2     -8     7     6   NaN    -6     1     6    -1    -8    NaN
Row_3     -6    -9     3     9    -6    -6    -7    -3     7      5
Row_4    NaN   NaN   NaN     6    -8   NaN     9    -8     4      7
Row_5      6     5    -3     3   NaN     2     8   -10    -8      0
Row_6      7   NaN     3     0   NaN   NaN     8    -2     9      4
Row_7    -10   NaN     2     0   NaN    -4   NaN     5     0    NaN
Row_8     -7   NaN     6     1    -6    -5    -3    -4    -8      0
Row_9      8   NaN     2    -9    -4     0   -10    -8     9     -6
Row_10     8   NaN   NaN    -1   NaN     6    -4    -5   NaN    NaN

### Dropna

Para excluir valores faltantes `NaN` utilizamos a função [`dropna`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html). Os argumentos necessarios para esta função são:

```python
DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
```

In [46]:
# Elimiando os valores NaN, observemos que o resultado é somente Row_3
# Neste caso definimos axis=0, o que indica que caso alguma fila tenha pelo menos um Nan, a fila será excluida
data_frame_nan.dropna(axis=0)

      Col_1 Col_2 Col_3 Col_4 Col_5 Col_6 Col_7 Col_8 Col_9 Col_10
Row_3    -6    -9     3     9    -6    -6    -7    -3     7      5

In [47]:
# Elimiando os valores NaN, observemos que o resultado é somente Col_8
# Neste caso definimos axis=0, o que indica que caso alguma fila tenha pelo menos um Nan, a fila será excluida
data_frame_nan.dropna(axis=1)

       Col_8
Row_1     -8
Row_2     -1
Row_3     -3
Row_4     -8
Row_5    -10
Row_6     -2
Row_7      5
Row_8     -4
Row_9     -8
Row_10    -5

In [52]:
# Também podemos definir a quantidade de valores no Nan que vamos aceitar. Por tanto se queremos aceitar
# pelo menos um NaN devemos de passar `thresh=9`
data_frame_nan.dropna(axis=1,thresh=9)

       Col_1 Col_4 Col_7 Col_8 Col_9
Row_1     -2     5    -8    -8    -8
Row_2     -8   NaN     6    -1    -8
Row_3     -6     9    -7    -3     7
Row_4    NaN     6     9    -8     4
Row_5      6     3     8   -10    -8
Row_6      7     0     8    -2     9
Row_7    -10     0   NaN     5     0
Row_8     -7     1    -3    -4    -8
Row_9      8    -9   -10    -8     9
Row_10     8    -1    -4    -5   NaN

In [53]:
# Observemos que a tabela original não foi modificada.
data_frame_nan

       Col_1 Col_2 Col_3 Col_4 Col_5 Col_6 Col_7 Col_8 Col_9 Col_10
Row_1     -2    -7   NaN     5     6     0    -8    -8    -8      4
Row_2     -8     7     6   NaN    -6     1     6    -1    -8    NaN
Row_3     -6    -9     3     9    -6    -6    -7    -3     7      5
Row_4    NaN   NaN   NaN     6    -8   NaN     9    -8     4      7
Row_5      6     5    -3     3   NaN     2     8   -10    -8      0
Row_6      7   NaN     3     0   NaN   NaN     8    -2     9      4
Row_7    -10   NaN     2     0   NaN    -4   NaN     5     0    NaN
Row_8     -7   NaN     6     1    -6    -5    -3    -4    -8      0
Row_9      8   NaN     2    -9    -4     0   -10    -8     9     -6
Row_10     8   NaN   NaN    -1   NaN     6    -4    -5   NaN    NaN

In [54]:
# Se queremos modificar o arquivo original devemos passar `inplace=True`
data_frame_nan.dropna(axis=1,thresh=7, inplace=True)
data_frame_nan

       Col_1 Col_3 Col_4 Col_6 Col_7 Col_8 Col_9 Col_10
Row_1     -2   NaN     5     0    -8    -8    -8      4
Row_2     -8     6   NaN     1     6    -1    -8    NaN
Row_3     -6     3     9    -6    -7    -3     7      5
Row_4    NaN   NaN     6   NaN     9    -8     4      7
Row_5      6    -3     3     2     8   -10    -8      0
Row_6      7     3     0   NaN     8    -2     9      4
Row_7    -10     2     0    -4   NaN     5     0    NaN
Row_8     -7     6     1    -5    -3    -4    -8      0
Row_9      8     2    -9     0   -10    -8     9     -6
Row_10     8   NaN    -1     6    -4    -5   NaN    NaN

### fillna
Outra forma de processar os dados faltantes é utilizando a função [`fillna`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) a qual permite substituir o valor faltante por outro valor.
```python
DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)
```

In [55]:
# Criando data frame com valores nan
np.random.seed(100)
n = 10
data2 = np.random.randint(25, 37, (n, n)).astype(object)
col2 = [f"Day_{i}" for i in range(1, n + 1)]
row2 = [f"Time_{i}" for i in range(1, n + 1)]
for r in range(n):
    for c in range(n):
        if np.random.random() < 0.25:
            data2[r, c] = np.nan
data_frame_fillna = pd.DataFrame(data2, row2, col2)
data_frame_fillna

        Day_1 Day_2 Day_3 Day_4 Day_5 Day_6 Day_7 Day_8 Day_9 Day_10
Time_1     33    33   NaN    32    32    25    35    29   NaN     30
Time_2     27    27    27    26   NaN    33    29    36    35    NaN
Time_3     36   NaN   NaN    27   NaN    29    26    30    28     29
Time_4    NaN    36    36    28    32   NaN    26   NaN    32    NaN
Time_5     25   NaN    34    34    28    27   NaN    36    33    NaN
Time_6    NaN    32    31   NaN    25    33    27    30    35     26
Time_7     33    35    26    30    29    27    33    36    36    NaN
Time_8     30    25    34    35    28    31    28    29    35     32
Time_9    NaN    28    34   NaN    29   NaN    29    30    32     31
Time_10    31   NaN    35    29    27    32    26    35    31     35

In [56]:
data_frame_fillna.fillna(value="VALOR ERRADO")

,Day_1,Day_2,Day_3,Day_4,Day_5,Day_6,Day_7,Day_8,Day_9,Day_10
Time_1,33,33,VALOR ERRADO,32,32,25,35,29,VALOR ERRADO,30
Time_2,27,27,27,26,VALOR ERRADO,33,29,36,35,VALOR ERRADO
Time_3,36,VALOR ERRADO,VALOR ERRADO,27,VALOR ERRADO,29,26,30,28,29
Time_4,VALOR ERRADO,36,36,28,32,VALOR ERRADO,26,VALOR ERRADO,32,VALOR ERRADO
Time_5,25,VALOR ERRADO,34,34,28,27,VALOR ERRADO,36,33,VALOR ERRADO
Time_6,VALOR ERRADO,32,31,VALOR ERRADO,25,33,27,30,35,26
Time_7,33,35,26,30,29,27,33,36,36,VALOR ERRADO
Time_8,30,25,34,35,28,31,28,29,35,32
Time_9,VALOR ERRADO,28,34,VALOR ERRADO,29,VALOR ERRADO,29,30,32,31
Time_10,31,VALOR ERRADO,35,29,27,32,26,35,31,35

In [57]:
# Caso queiramos preencher o valor faltante pelo valor anterior podemos realizar isso aplicando o `method="ffill"`
# Criando data frame com valores nan
np.random.seed(100)
n = 1440 # Equivalente a coleta de pontos cada 60 segundos por 24 h
r_n = 5
data2 = np.random.randint(27, 33, (n, r_n)).astype(object)
col2 = [f"Reactor_{i}" for i in range(1, r_n + 1)]
row2 = [f"Time_{i}" for i in range(1, n + 1)]
for r in range(data2.shape[0]):
    for c in range(data2.shape[1]):
        if np.random.random() < 0.25:
            data2[r, c] = np.nan
data_frame_fillna = pd.DataFrame(data2, row2, col2)
data_frame_fillna.info()
data_frame_fillna.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 1440 entries, Time_1 to Time_1440
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Reactor_1  1094 non-null   object
 1   Reactor_2  1086 non-null   object
 2   Reactor_3  1096 non-null   object
 3   Reactor_4  1066 non-null   object
 4   Reactor_5  1079 non-null   object
dtypes: object(5)
memory usage: 67.5+ KB

        Reactor_1  Reactor_2  Reactor_3  Reactor_4  Reactor_5
count        1094       1086       1096       1066       1079
unique          6          6          6          6          6
top            30         29         28         27         29
freq          195        194        208        194        206

In [61]:
data_frame_fillna

          Reactor_1 Reactor_2 Reactor_3 Reactor_4 Reactor_5
Time_1           27        27        30        27        29
Time_2           31        29        32        29       NaN
Time_3           29       NaN        27        27        31
Time_4          NaN       NaN        29        27        30
Time_5           28        32        29        30        31
...             ...       ...       ...       ...       ...
Time_1436        32       NaN       NaN        29        31
Time_1437        30       NaN        32        32        28
Time_1438        29        30        29        31        31
Time_1439       NaN        27        32        28        31
Time_1440        29        29        32        27        32

[1440 rows x 5 columns]

In [62]:
data_frame_fillna.fillna(method="ffill", inplace=True)

In [63]:
data_frame_fillna

           Reactor_1  Reactor_2  Reactor_3  Reactor_4  Reactor_5
Time_1            27         27         30         27         29
Time_2            31         29         32         29         29
Time_3            29         29         27         27         31
Time_4            29         29         29         27         30
Time_5            28         32         29         30         31
...              ...        ...        ...        ...        ...
Time_1436         32         28         32         29         31
Time_1437         30         28         32         32         28
Time_1438         29         30         29         31         31
Time_1439         29         27         32         28         31
Time_1440         29         29         32         27         32

[1440 rows x 5 columns]

In [64]:
data_frame_fillna.info()
data_frame_fillna.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 1440 entries, Time_1 to Time_1440
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Reactor_1  1440 non-null   int64
 1   Reactor_2  1440 non-null   int64
 2   Reactor_3  1440 non-null   int64
 3   Reactor_4  1440 non-null   int64
 4   Reactor_5  1440 non-null   int64
dtypes: int64(5)
memory usage: 67.5+ KB

         Reactor_1    Reactor_2    Reactor_3    Reactor_4    Reactor_5
count  1440.000000  1440.000000  1440.000000  1440.000000  1440.000000
mean     29.471528    29.490972    29.554167    29.402778    29.537500
std       1.671997     1.666804     1.698991     1.690506     1.698623
min      27.000000    27.000000    27.000000    27.000000    27.000000
25%      28.000000    28.000000    28.000000    28.000000    28.000000
50%      29.000000    29.000000    29.500000    29.000000    30.000000
75%      31.000000    31.000000    31.000000    31.000000    31.000000
max      32.000000    32.000000    32.000000    32.000000    32.000000

### replace
Uma das alternativas mais adequadas para trabalhar com valores ausentes ou inadequados é utilizando a função [`replace`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html). Esta função trabalha de forma semelhante a `dropna` e `filna` porém agora podemos indicar qual ou quais valores queremos substituir. A sintaxe para o funcionamento deste método é:

```python
DataFrame.replace(to_replace=None, value=None, inplace=False, limit=None, regex=False, method='pad')
```

In [65]:
# Vamos contiuar com data_frame_nan
data_frame_nan

       Col_1 Col_3 Col_4 Col_6 Col_7 Col_8 Col_9 Col_10
Row_1     -2   NaN     5     0    -8    -8    -8      4
Row_2     -8     6   NaN     1     6    -1    -8    NaN
Row_3     -6     3     9    -6    -7    -3     7      5
Row_4    NaN   NaN     6   NaN     9    -8     4      7
Row_5      6    -3     3     2     8   -10    -8      0
Row_6      7     3     0   NaN     8    -2     9      4
Row_7    -10     2     0    -4   NaN     5     0    NaN
Row_8     -7     6     1    -5    -3    -4    -8      0
Row_9      8     2    -9     0   -10    -8     9     -6
Row_10     8   NaN    -1     6    -4    -5   NaN    NaN

In [66]:
# Observemos que temos varios valores Nan
data_frame_nan.replace(to_replace=np.nan, value=10)

        Col_1  Col_3  Col_4  Col_6  Col_7  Col_8  Col_9  Col_10
Row_1      -2     10      5      0     -8     -8     -8       4
Row_2      -8      6     10      1      6     -1     -8      10
Row_3      -6      3      9     -6     -7     -3      7       5
Row_4      10     10      6     10      9     -8      4       7
Row_5       6     -3      3      2      8    -10     -8       0
Row_6       7      3      0     10      8     -2      9       4
Row_7     -10      2      0     -4     10      5      0      10
Row_8      -7      6      1     -5     -3     -4     -8       0
Row_9       8      2     -9      0    -10     -8      9      -6
Row_10      8     10     -1      6     -4     -5     10      10

In [67]:
# Podemos passar uma lista de valores para ser subtituido
data_frame_nan.replace(to_replace=[np.nan, 8], value=10)

        Col_1  Col_3  Col_4  Col_6  Col_7  Col_8  Col_9  Col_10
Row_1      -2     10      5      0     -8     -8     -8       4
Row_2      -8      6     10      1      6     -1     -8      10
Row_3      -6      3      9     -6     -7     -3      7       5
Row_4      10     10      6     10      9     -8      4       7
Row_5       6     -3      3      2     10    -10     -8       0
Row_6       7      3      0     10     10     -2      9       4
Row_7     -10      2      0     -4     10      5      0      10
Row_8      -7      6      1     -5     -3     -4     -8       0
Row_9      10      2     -9      0    -10     -8      9      -6
Row_10     10     10     -1      6     -4     -5     10      10

In [68]:
# E também uma lista de valores para substuir
data_frame_nan.replace(to_replace=[np.nan, 8], value=[100, 80])

        Col_1  Col_3  Col_4  Col_6  Col_7  Col_8  Col_9  Col_10
Row_1      -2    100      5      0     -8     -8     -8       4
Row_2      -8      6    100      1      6     -1     -8     100
Row_3      -6      3      9     -6     -7     -3      7       5
Row_4     100    100      6    100      9     -8      4       7
Row_5       6     -3      3      2     80    -10     -8       0
Row_6       7      3      0    100     80     -2      9       4
Row_7     -10      2      0     -4    100      5      0     100
Row_8      -7      6      1     -5     -3     -4     -8       0
Row_9      80      2     -9      0    -10     -8      9      -6
Row_10     80    100     -1      6     -4     -5    100     100

In [3]:
# Voltando ao exemplo do sensor de temperatura
np.random.seed(100)
n = 1440 # Equivalente a coleta de pontos cada 60 segundos por 24 h
r_n = 3
err = [10, 15, 20, 40, 35]
data2 = np.random.uniform(27, 33, (n, r_n)).astype(object)
col2 = [f"Reactor_{i}" for i in range(1, r_n + 1)]
row2 = [f"Time_{i}" for i in range(1, n + 1)]
for r in range(data2.shape[0]):
    for c in range(data2.shape[1]):
        if np.random.random() < 0.25:
            data2[r, c] = np.nan
        elif np.random.random() < 0.1:
            data2[r, c] = np.random.choice(err)
data_frame_replace = pd.DataFrame(data2, row2, col2)

In [73]:
data_frame_replace

          Reactor_1 Reactor_2 Reactor_3
Time_1      30.2604   28.6702   29.5471
Time_2      32.0687   27.0283        15
Time_3      31.0245   31.9551   27.8202
Time_4      30.4506   32.3479   28.2552
Time_5       28.112       NaN   28.3182
...             ...       ...       ...
Time_1436   32.6975   28.8009    31.803
Time_1437       NaN   27.9359   31.8323
Time_1438   30.1258   30.3247   29.1884
Time_1439       NaN   30.6762   28.3808
Time_1440   32.6773   28.1479   28.1363

[1440 rows x 3 columns]

In [81]:
import matplotlib.pyplot as plt
%matplotlib nbagg
for react in data_frame_replace.columns:
    fig, ax = plt.subplots()
    ax.plot(data_frame_replace[react].values,
             ls="-",
             c='black',
             marker="o", 
             markersize=1.0,
             markeredgecolor='blue',
             lw=0.1)
    ax.set_xlabel("Time")
    ax.set_ylabel("Temperature [°C]")
    ax.set_title(react)

In [80]:
data_frame_replace.replace(to_replace=[40, 35, 20, 15, 10, np.nan], value=data_frame_replace.mean().mean(), inplace=True)

29.28358513282551

## Groupby, aggregate e apply
Quando trabalhamos com dados qualitativos nominais pode ser necessário realizar agrupamentos e aplicar funções neste grupo de dados para conseguir entender melhor nosso sistema. Panda oferece uma serie de funções que ajudam a realizar isso. Cabe destacar que o potencial de Pandas está no uso em conjunto destas funções e outras.

---

A função [`groupby`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) é umas das função **mais importantes** da biblioteca Pandas devido a que permite realizar o agrupamento de grande quantidade de dados e aplicar funções sobre esses valores agrupados de forma rápida. Para aplicar essa função utilizamos a seguinte sintaxe:
```python
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=<object object>, observed=False, dropna=True)
```

---

A função [`aggregate`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.aggregate.html) permite aplicar uma (ou mais funções) sobre uma(s) coluna(s) ou fila(s).

**Observações**:
- Podem ser aplicadas funções `built-in function`, `lambda functions` ou funções criadas por nós;
- Podem ser aplicadas diferentes quantidades e tipos de funções para diferentes colunas ou filas do mesmo DataFrame;
- Ao momento de passar a funções não é necessário realizar a chamada da função.

A sintaxe utilizada para aplicar esta função é:
```python
DataFrame.aggregate(func=None, axis=0, *args, **kwargs)
```
***Recomendo ler a [documentação da função aggregate](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.aggregate.html) para conseguir entender melhor seu funcionamento***.

---

A função [`apply`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) permite aplicar **UMA FUNÇÃO** sobre uma Series ou um DataFrame, especificando ou eixo onde dever ser aplicada a função.

**Observações**:
- Podem ser aplicadas funções `built-in function`,  `lambda functions` ou funções criadas por nós;
- Ao momento de passar a funções não é necessário realizar a chamada da função.

A sintaxe para utilizar esta função é:

```python
DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwds)
```
***Recomendo ler a [documentação da função apply](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) para conseguir entender melhor seu funcionamento***.

In [78]:
# Para entender o funcionamento da função groupby vamos a criar uma matrix de dados
n = 1500
np.random.seed(100)
empresas = [f"Empresa {np.random.randint(1, 51)}" for _ in range(n)]
valor_investido = [np.random.uniform(500, 3500) for _ in range(n)]
retorno = [np.random.uniform(2000, 5000) for _ in range(n)]
transferencias = [np.random.randint(50, 150) for _ in range(n)]
matriz = np.c_[valor_investido, retorno, transferencias]
colum = "Valor investido ($R), Retorno ($R), Transferencias".split(", ")
#-----------------------------------------------------------------------
# Criação do DataFrame
data_frame_groupby = pd.DataFrame(data=matriz, columns=colum )
data_frame_groupby["Lucro ($)"] = data_frame_groupby["Retorno ($R)"] - data_frame_groupby["Valor investido ($R)"]
data_frame_groupby["Empresas"] = empresas
data_frame_groupby

,Valor investido ($R),Retorno ($R),Transferencias,Lucro ($),Empresas
0,2395.146139,2267.914842,147.0,-127.231297,Empresa 9
1,573.809911,4686.133772,138.0,4112.323860,Empresa 25
2,1595.693889,2063.509230,66.0,467.815341,Empresa 4
3,950.708543,3344.221121,114.0,2393.512577,Empresa 40
4,1867.941222,3312.663318,116.0,1444.722095,Empresa 24
...,...,...,...,...,...
1495,2485.341177,2692.370879,62.0,207.029702,Empresa 15
1496,840.284504,2700.582463,93.0,1860.297958,Empresa 37
1497,2250.217715,4771.450109,73.0,2521.232394,Empresa 46
1498,2396.891151,4391.564187,98.0,1994.673036,Empresa 15
1499,1280.946486,2904.981132,95.0,1624.034646,Empresa 17

In [83]:
data_frame_groupby["Empresas"].unique()

array(['Empresa 9', 'Empresa 25', 'Empresa 4', 'Empresa 40', 'Empresa 24',
       'Empresa 16', 'Empresa 49', 'Empresa 11', 'Empresa 31',
       'Empresa 35', 'Empresa 3', 'Empresa 15', 'Empresa 50',
       'Empresa 37', 'Empresa 44', 'Empresa 17', 'Empresa 10',
       'Empresa 30', 'Empresa 23', 'Empresa 28', 'Empresa 45',
       'Empresa 5', 'Empresa 32', 'Empresa 2', 'Empresa 14', 'Empresa 20',
       'Empresa 8', 'Empresa 48', 'Empresa 42', 'Empresa 47',
       'Empresa 46', 'Empresa 39', 'Empresa 19', 'Empresa 1',
       'Empresa 18', 'Empresa 43', 'Empresa 41', 'Empresa 13',
       'Empresa 7', 'Empresa 21', 'Empresa 6', 'Empresa 34', 'Empresa 36',
       'Empresa 22', 'Empresa 26', 'Empresa 38', 'Empresa 29',
       'Empresa 27', 'Empresa 33', 'Empresa 12'], dtype=object)

### Groupby

In [84]:
# Para entender o conceito de Groupby, vamos agrupar os dados por empresas
dfgroupby = data_frame_groupby.groupby(by="Empresas")

In [85]:
# Observemos que o retorno da função groupby é o endereço na memoria de um objeto
dfgroupby

In [86]:
# Para conseguir visualizar o DataFrame, devemos aplicar uma função sobre os valores
dfgroupby.mean()

            Valor investido ($R)  Retorno ($R)  Transferencias    Lucro ($)
Empresas
Empresa 1            1664.379181   3423.575079       92.466667  1759.195898
Empresa 10           2140.719171   3190.926190      100.814815  1050.207019
Empresa 11           2116.869748   3347.678176       90.678571  1230.808427
Empresa 12           1862.925647   3958.437340       91.086957  2095.511693
Empresa 13           1900.576222   3431.103574       94.969697  1530.527352
Empresa 14           1898.060800   3647.238621       88.678571  1749.177821
Empresa 15           2111.297602   3452.572584       89.243243  1341.274982
Empresa 16           1957.131902   3351.897950       92.000000  1394.766049
Empresa 17           1978.605630   3462.218560      106.028571  1483.612930
Empresa 18           1934.803192   3371.061402       97.833333  1436.258210
Empresa 19           2064.491394   3412.104318       97.085714  1347.612924
Empresa 2            1949.820838   3203.329748      102.290323  1253.508910
Empresa 20           1952.426107   3396.899169       99.875000  1444.473062
Empresa 21           1939.813657   3796.087643       95.882353  1856.273986
Empresa 22           1691.319432   3706.612504      101.222222  2015.293072
Empresa 23           1930.980263   3530.172001      101.483871  1599.191738
Empresa 24           1867.104460   3672.593560       91.542857  1805.489100
Empresa 25           2279.363359   3284.652650      100.954545  1005.289291
Empresa 26           1934.242327   3613.810166      102.948718  1679.567839
Empresa 27           1903.014538   3466.481127       96.807692  1563.466589
Empresa 28           1988.190438   3663.532360      100.433333  1675.341922
Empresa 29           2050.575235   3692.853863       96.297297  1642.278628
Empresa 3            2058.446066   3356.946477      109.032258  1298.500411
Empresa 30           1651.834766   3482.426739       99.520000  1830.591973
Empresa 31           1801.221926   3559.556194       92.242424  1758.334268
Empresa 32           2109.638914   3683.589719      102.777778  1573.950805
Empresa 33           1963.053862   3263.071559       97.535714  1300.017697
Empresa 34           2050.299310   3645.419372       95.157895  1595.120062
Empresa 35           1892.863328   3585.485089      101.909091  1692.621761
Empresa 36           2083.510154   3627.044944       97.575000  1543.534789
Empresa 37           1926.569348   3420.686900       95.483871  1494.117552
Empresa 38           1919.632242   3552.188514      100.410256  1632.556271
Empresa 39           1688.167153   3324.487385       92.800000  1636.320232
Empresa 4            1918.318963   3559.867858       91.913043  1641.548895
Empresa 40           2054.041132   3633.945019       99.458333  1579.903887
Empresa 41           1754.617526   3449.306873      103.586207  1694.689347
Empresa 42           2020.690722   3333.837985      108.681818  1313.147263
Empresa 43           2046.077499   3505.526330       98.310345  1459.448831
Empresa 44           2047.672587   3304.959589      101.678571  1257.287001
Empresa 45           2147.230676   3353.718508       95.218750  1206.487832
Empresa 46           1868.241375   3379.642234      102.375000  1511.400859
Empresa 47           2143.694346   3706.345229       93.800000  1562.650884
Empresa 48           1945.366569   3636.416519       95.066667  1691.049950
Empresa 49           1858.447113   3439.877243       98.966667  1581.430130
Empresa 5            1805.528041   3719.309882       97.096774  1913.781841
Empresa 50           2001.418825   3451.352333      102.482759  1449.933507
Empresa 6            1677.420276   3365.633879      101.894737  1688.213603
Empresa 7            1998.801732   3450.452335       86.789474  1451.650602
Empresa 8            1948.331062   3370.077042      103.966667  1421.745980
Empresa 9            1975.967561   3355.734194       97.666667  1379.766633

In [87]:
# Podemos utilizar o groupby para realizar agrupamento por camadas
agrupamento_empr_trans = data_frame_groupby.groupby(["Empresas", "Transferencias"]).mean()
agrupamento_empr_trans

                          Valor investido ($R)  Retorno ($R)    Lucro ($)
Empresas  Transferencias
Empresa 1 50.0                      949.481781   3258.569069  2309.087288
          52.0                     1150.382949   3464.347048  2313.964099
          59.0                     2718.050208   3536.096278   818.046070
          60.0                     1713.525700   3443.852804  1730.327104
          61.0                     2386.676100   2918.913180   532.237079
...                                        ...           ...          ...
Empresa 9 121.0                    1783.656084   3478.758634  1695.102549
          126.0                    1444.890047   2840.694665  1395.804618
          129.0                    1994.924685   3782.232389  1787.307704
          132.0                    2527.237143   3025.136451   497.899308
          147.0                    2395.146139   2267.914842  -127.231297

[1307 rows x 3 columns]

In [88]:
agrupamento_trans_empr = data_frame_groupby.groupby(["Transferencias", "Empresas"]).mean()
agrupamento_trans_empr

                           Valor investido ($R)  Retorno ($R)    Lucro ($)
Transferencias Empresas
50.0           Empresa 1             949.481781   3258.569069  2309.087288
               Empresa 12            876.443074   4658.884928  3782.441854
               Empresa 16            936.434790   3765.879569  2829.444779
               Empresa 18           1288.585806   3632.588113  2344.002307
               Empresa 38           3224.291878   2669.298845  -554.993033
...                                         ...           ...          ...
149.0          Empresa 39            649.237729   2592.643863  1943.406134
               Empresa 41           1387.985223   4014.152906  2626.167683
               Empresa 42           1901.519976   4938.360410  3036.840434
               Empresa 43           1514.334239   4598.270672  3083.936434
               Empresa 46            934.089746   3387.466042  2453.376296

[1307 rows x 3 columns]

In [89]:
# E se queremos realizar filtragem ao momento de aplicar o filtro?
agrupamento_empr_trans[(agrupamento_empr_trans["Valor investido ($R)"]>1800) & 
                        (agrupamento_empr_trans["Lucro ($)"]>1500)]

                           Valor investido ($R)  Retorno ($R)    Lucro ($)
Empresas   Transferencias
Empresa 1  81.0                     2135.877267   4468.780056  2332.902789
           127.0                    2668.333667   4237.318294  1568.984627
Empresa 10 57.0                     1881.921732   3735.794141  1853.872409
           74.0                     1806.401431   3749.251654  1942.850223
           85.0                     2143.842458   3921.027887  1777.185429
...                                         ...           ...          ...
Empresa 8  70.0                     2550.492525   4337.466856  1786.974330
           93.0                     2009.062947   4228.183823  2219.120876
           101.0                    1994.210798   4795.585638  2801.374839
Empresa 9  117.0                    3074.262930   4891.414999  1817.152069
           129.0                    1994.924685   3782.232389  1787.307704

[203 rows x 3 columns]

In [90]:
# Podemos utilizar algums metodos para potencializar o uso de groupby
data_frame_groupby.groupby(["Empresas"]).get_group(("Empresa 1"))

,Valor investido ($R),Retorno ($R),Transferencias,Lucro ($),Empresas
59,754.555607,4576.840550,128.0,3822.284944,Empresa 1
74,3342.394319,4517.216631,59.0,1174.822313,Empresa 1
106,1472.905328,4414.208565,146.0,2941.303237,Empresa 1
153,1164.984570,2313.010752,105.0,1148.026182,Empresa 1
270,1622.946167,2737.280220,113.0,1114.334053,Empresa 1
283,1603.691062,2623.841086,94.0,1020.150025,Empresa 1
343,807.412306,2149.619527,72.0,1342.207221,Empresa 1
370,637.549984,2988.202114,146.0,2350.652130,Empresa 1
393,2353.250043,3289.043032,145.0,935.792988,Empresa 1
505,2962.442465,4111.280688,106.0,1148.838223,Empresa 1
611,1530.678144,2387.220923,64.0,856.542780,Empresa 1
661,1975.451457,2979.708438,66.0,1004.256982,Empresa 1
665,534.732814,2924.617943,77.0,2389.885129,Empresa 1
712,1620.155156,4188.240037,85.0,2568.084881,Empresa 1
714,718.513729,4081.531030,62.0,3363.017301,Empresa 1
776,2135.877267,4468.780056,81.0,2332.902789,Empresa 1
901,949.481781,3258.569069,50.0,2309.087288,Empresa 1
913,2668.333667,4237.318294,127.0,1568.984627,Empresa 1
986,1382.376060,4420.546259,136.0,3038.170199,Empresa 1
1017,3309.840920,2280.409840,142.0,-1029.431080,Empresa 1
1024,1713.525700,3443.852804,60.0,1730.327104,Empresa 1
1055,2093.706097,2554.975924,59.0,461.269827,Empresa 1
1084,860.858995,2950.204538,105.0,2089.345543,Empresa 1
1095,1049.911907,3211.714280,64.0,2161.802373,Empresa 1
1130,1658.723033,4947.407586,137.0,3288.684553,Empresa 1
1174,1405.750086,3654.152359,74.0,2248.402273,Empresa 1
1217,1128.990284,2856.484190,74.0,1727.493907,Empresa 1
1410,2935.277442,3757.715407,84.0,822.437965,Empresa 1
1411,2386.676100,2918.913180,61.0,532.237079,Empresa 1
1484,1150.382949,3464.347048,52.0,2313.964099,Empresa 1

In [91]:
data_frame_groupby.groupby(["Empresas", "Transferencias"]).get_group(("Empresa 1", 52))

,Valor investido ($R),Retorno ($R),Transferencias,Lucro ($),Empresas
1484,1150.382949,3464.347048,52.0,2313.964099,Empresa 1

### aggregate

In [107]:
# podemos aplicar aggreagate para um groupby de dois niveis

# pd.set_option('display.max_rows', 10)
dfgroupby.aggregate({"Lucro ($)": [min, max, np.mean, np.std],
                     "Retorno ($R)": [min, max, np.mean, np.std],
                     "Transferencias": [min, max]})

              Lucro ($)                                        Retorno ($R)  \
                    min          max         mean          std          min
Empresas
Empresa 1  -1029.431080  3822.284944  1759.195898  1037.584319  2149.619527
Empresa 10 -1030.443270  3453.502875  1050.207019  1148.871827  2087.910491
Empresa 11  -705.662450  3519.872560  1230.808427  1182.481833  2030.177115
Empresa 12  -714.737098  4381.339656  2095.511693  1404.498163  2141.494135
Empresa 13 -1148.533275  3866.567488  1530.527352  1247.353711  2023.691796
Empresa 14   263.865646  3536.995386  1749.177821  1140.728316  2155.363780
Empresa 15  -728.587438  3619.623496  1341.274982  1016.592325  2092.543773
Empresa 16  -548.482080  3854.690724  1394.766049  1141.358305  2048.649844
Empresa 17 -1240.827497  3706.601038  1483.612930  1365.839768  2062.882442
Empresa 18 -1139.793413  3898.052797  1436.258210  1392.141829  2041.851256
Empresa 19  -967.249200  4304.251388  1347.612924  1337.228539  2090.616403
Empresa 2   -883.122069  3381.139297  1253.508910  1030.183136  2060.268599
Empresa 20  -709.179928  3861.244393  1444.473062  1270.134815  2137.958439
Empresa 21 -1163.665628  4053.315337  1856.273986  1390.612954  2008.293371
Empresa 22  -543.915040  4273.109898  2015.293072  1212.567310  2273.814129
Empresa 23  -738.132762  3859.476037  1599.191738  1108.527709  2024.088235
Empresa 24   -47.141388  3855.958881  1805.489100  1144.374248  2225.454568
Empresa 25  -960.211852  4112.323860  1005.289291  1089.804077  2246.821725
Empresa 26  -958.524594  3942.799478  1679.567839  1304.625216  2121.032099
Empresa 27 -1108.074933  4060.720706  1563.466589  1322.416047  2072.488042
Empresa 28  -842.914170  3723.406089  1675.341922  1074.297519  2255.857317
Empresa 29  -564.451356  3704.840235  1642.278628   959.337362  2096.997310
Empresa 3  -1349.945780  3513.125067  1298.500411  1085.185791  2125.007634
Empresa 30  -547.357292  3783.603822  1830.591973  1210.580710  2005.253313
Empresa 31  -953.008912  3978.940821  1758.334268  1364.969635  2117.992643
Empresa 32  -573.477903  3780.772436  1573.950805  1344.798607  2032.194612
Empresa 33  -815.591049  4243.023916  1300.017697  1116.483871  2019.803783
Empresa 34  -882.077914  3555.259062  1595.120062  1205.778173  2024.841120
Empresa 35  -687.538541  4011.018418  1692.621761  1169.129653  2068.895306
Empresa 36 -1164.809573  3973.699581  1543.534789  1192.851715  2206.050355
Empresa 37 -1140.223682  3460.427148  1494.117552  1123.597568  2081.650732
Empresa 38  -917.843962  3603.010118  1632.556271  1151.524851  2071.907721
Empresa 39 -1019.210043  4206.259360  1636.320232  1266.210240  2007.410936
Empresa 4  -1223.418743  4292.834691  1641.548895  1266.265841  2019.902194
Empresa 40  -802.959433  3140.804591  1579.903887  1069.461029  2291.703842
Empresa 41  -401.786495  3996.657788  1694.689347  1050.189099  2047.466382
Empresa 42  -576.370588  3130.894568  1313.147263  1177.055003  2009.236221
Empresa 43 -1404.915928  3564.670275  1459.448831  1420.751564  2030.213027
Empresa 44  -828.683235  3369.566484  1257.287001  1200.936169  2036.005019
Empresa 45 -1445.807576  4163.383447  1206.487832  1252.420524  2039.718196
Empresa 46  -692.884152  3984.252404  1511.400859  1357.246694  2090.542099
Empresa 47  -706.070346  4167.823786  1562.650884  1351.350253  2180.342782
Empresa 48 -1014.166405  4024.396892  1691.049950  1356.306780  2134.267348
Empresa 49 -1061.499868  4196.441957  1581.430130  1269.798262  2051.334685
Empresa 5  -1265.669610  4086.839319  1913.781841  1283.815598  2046.316855
Empresa 50  -990.288601  3938.989383  1449.933507  1393.250156  2065.830055
Empresa 6   -727.564360  3567.506539  1688.213603  1149.383245  2089.353807
Empresa 7   -510.586105  3592.984526  1451.650602  1373.678412  2357.422076
Empresa 8   -118.846695  4034.418406  1421.745980  1065.229522  2032.403154
Empresa 9   -755.669977  4014.853833  1379.766633  1273.016471  2003.734967

                                                  Transferencias
                    max         mean          std            min    max
Empresas
Empresa 1   4947.407586  3423.575079   806.521412           50.0  146.0
Empresa 10  4851.489657  3190.926190   771.533728           57.0  149.0
Empresa 11  4657.737047  3347.678176   719.891612           52.0  145.0
Empresa 12  4996.272864  3958.437340   931.462302           50.0  146.0
Empresa 13  4924.526302  3431.103574  1002.356897           53.0  142.0
Empresa 14  4896.790511  3647.238621   827.841225           52.0  135.0
Empresa 15  4989.069570  3452.572584   849.047496           55.0  139.0
Empresa 16  4985.187002  3351.897950   889.999045           50.0  148.0
Empresa 17  4913.065603  3462.218560   906.050510           56.0  149.0
Empresa 18  4963.369466  3371.061402   889.266400           50.0  149.0
Empresa 19  4987.979475  3412.104318   914.259016           56.0  149.0
Empresa 2   4978.045610  3203.329748   916.525729           53.0  145.0
Empresa 20  4791.396088  3396.899169   784.998310           61.0  143.0
Empresa 21  4939.484402  3796.087643   961.489952           51.0  134.0
Empresa 22  4817.159746  3706.612504   844.257208           51.0  145.0
Empresa 23  4890.610261  3530.172001   909.481952           56.0  149.0
Empresa 24  4881.663741  3672.593560   740.361322           52.0  140.0
Empresa 25  4851.375782  3284.652650   733.807999           51.0  143.0
Empresa 26  4950.031443  3613.810166   818.442429           53.0  149.0
Empresa 27  4917.998672  3466.481127   953.170409           51.0  142.0
Empresa 28  4930.878173  3663.532360   767.808180           56.0  146.0
Empresa 29  4921.828694  3692.853863   858.874576           58.0  136.0
Empresa 3   4699.281767  3356.946477   820.067525           52.0  144.0
Empresa 30  4941.148803  3482.426739   893.934403           51.0  149.0
Empresa 31  4989.271695  3559.556194   911.391283           51.0  142.0
Empresa 32  4878.639569  3683.589719   816.661699           57.0  149.0
Empresa 33  4928.084245  3263.071559   836.920346           54.0  149.0
Empresa 34  4956.482329  3645.419372   978.990617           56.0  148.0
Empresa 35  4986.030796  3585.485089   877.107418           54.0  147.0
Empresa 36  4869.855701  3627.044944   792.187289           54.0  139.0
Empresa 37  4980.902269  3420.686900  1049.250165           55.0  145.0
Empresa 38  4771.791660  3552.188514   852.665641           50.0  145.0
Empresa 39  4846.713070  3324.487385   989.288872           50.0  149.0
Empresa 4   4975.332227  3559.867858   860.959776           50.0  148.0
Empresa 40  4931.527367  3633.945019   784.203331           58.0  145.0
Empresa 41  4707.675550  3449.306873   823.511099           54.0  149.0
Empresa 42  4938.360410  3333.837985   924.171574           60.0  149.0
Empresa 43  4991.164557  3505.526330  1018.631029           50.0  149.0
Empresa 44  4957.262265  3304.959589   758.106187           56.0  147.0
Empresa 45  4993.935058  3353.718508   899.439248           51.0  147.0
Empresa 46  4836.825999  3379.642234   875.456081           50.0  149.0
Empresa 47  4985.800354  3706.345229   841.493596           52.0  143.0
Empresa 48  4859.556661  3636.416519   793.881183           55.0  146.0
Empresa 49  4917.103135  3439.877243   896.433769           50.0  147.0
Empresa 5   4899.207193  3719.309882   957.452737           55.0  147.0
Empresa 50  4978.907441  3451.352333   854.173219           53.0  143.0
Empresa 6   4791.384550  3365.633879   959.682541           55.0  146.0
Empresa 7   4573.603518  3450.452335   760.371048           52.0  130.0
Empresa 8   4795.585638  3370.077042   795.659797           51.0  148.0
Empresa 9   4990.171487  3355.734194   893.789479           53.0  147.0

In [96]:
agrupamento_empr_trans.aggregate({"Lucro ($)": [min, max, np.mean, np.std],
                     "Retorno ($R)": [min, max, np.mean, np.std]})

        Lucro ($)  Retorno ($R)
min  -1445.807576   2005.253313
max   4381.339656   4996.272864
mean  1545.132389   3492.482441
std   1184.307614    842.584253

### apply

In [100]:
# Exemplo com dados de lingaugems de programação
pd.set_option('display.max_rows', 80)
df_ling = pd.read_csv("./Dados/programming_languages.csv")
df_ling

    year                    language
0   1951  Regional Assembly Language
1   1952                    Autocode
2   1954                         IPL
3   1955                  FLOW-MATIC
4   1957                     FORTRAN
5   1957                     COMTRAN
6   1958                        LISP
7   1958                    ALGOL 58
8   1959                        FACT
9   1959                       COBOL
10  1959                         RPG
11  1962                         APL
12  1962                      Simula
13  1962                      SNOBOL
14  1963                         CPL
15  1964                   Speakeasy
16  1964                       BASIC
17  1964                        PL/I
18  1966                        JOSS
19  1967                        BCPL
20  1968                        Logo
21  1969                           B
22  1970                      Pascal
23  1970                       Forth
24  1972                           C
25  1972                   Smalltalk
26  1972                      Prolog
27  1973                          ML
28  1975                      Scheme
29  1978                        SQL
30  1980                        C++
31  1983                         Ada
32  1984                 Common Lisp
33  1984                      MATLAB
34  1984                   dBase III
35  1985                      Eiffel
36  1986                 Objective-C
37  1986                    LabVIEW
38  1986                      Erlang
39  1987                        Perl
40  1988                         Tcl
41  1988           Wolfram Language
42  1989                         FL
43  1990                     Haskell
44  1991                      Python
45  1991                Visual Basic
46  1993                         Lua
47  1993                           R
48  1994                       CLOS
49  1995                        Ruby
50  1995                      Ada 95
51  1995                        Java
52  1995                     Delphi
53  1995                  JavaScript
54  1995                         PHP
55  1997                       Rebol
56  2000                ActionScript
57  2001                          C#
58  2001                           D
59  2002                     Scratch
60  2003                      Groovy
61  2003                       Scala
62  2005                          F#
63  2006                  PowerShell
64  2007                     Clojure
65  2009                          Go
66  2010                        Rust
67  2011                        Dart
68  2011                      Kotlin
69  2011                         Red
70  2011                      Elixir
71  2012                       Julia
72  2014                       Swift

In [101]:
df_lig_grop = df_ling.groupby(by="year")
df_lig_grop["language"]

In [103]:
# Obtendo um dataframe com as linguagens criadas em cada
pd.set_option('display.max_rows', 50)
df_lig_grop["language"].apply(','.join)

year
1951                 Regional Assembly Language
1952                                   Autocode
1954                                        IPL
1955                                 FLOW-MATIC
1957                            FORTRAN,COMTRAN
1958                              LISP,ALGOL 58
1959                             FACT,COBOL,RPG
1962                          APL,Simula,SNOBOL
1963                                        CPL
1964                       Speakeasy,BASIC,PL/I
1966                                       JOSS
1967                                       BCPL
1968                                       Logo
1969                                          B
1970                               Pascal,Forth
1972                         C,Smalltalk,Prolog
1973                                         ML
1975                                     Scheme
1978                                       SQL
1980                                       C++
1983                                        Ada
1984               Common Lisp,MATLAB,dBase III
1985                                     Eiffel
1986                Objective-C,LabVIEW ,Erlang
1987                                       Perl
1988                      Tcl,Wolfram Language
1989                                        FL
1990                                    Haskell
1991                        Python,Visual Basic
1993                                      Lua,R
1994                                      CLOS
1995    Ruby,Ada 95,Java,Delphi ,JavaScript,PHP
1997                                      Rebol
2000                               ActionScript
2001                                       C#,D
2002                                    Scratch
2003                               Groovy,Scala
2005                                         F#
2006                                 PowerShell
2007                                    Clojure
2009                                         Go
2010                                       Rust
2011                     Dart,Kotlin,Red,Elixir
2012                                      Julia
2014                                      Swift
Name: language, dtype: object

In [104]:
# Obtendo um dataframe com as linguagens criadas em cada
df_lig_grop["language"].apply(len).values
df_lig_grop["language"].apply(len).index.values

array([1951, 1952, 1954, 1955, 1957, 1958, 1959, 1962, 1963, 1964, 1966,
       1967, 1968, 1969, 1970, 1972, 1973, 1975, 1978, 1980, 1983, 1984,
       1985, 1986, 1987, 1988, 1989, 1990, 1991, 1993, 1994, 1995, 1997,
       2000, 2001, 2002, 2003, 2005, 2006, 2007, 2009, 2010, 2011, 2012,
       2014])

In [106]:
import matplotlib.pyplot as plt
plt.plot(df_lig_grop["language"].apply(len).index.values,
         df_lig_grop["language"].apply(len).values,
        ls="",
        marker="s")

## Juntando DataFrames
Em algumas ocasiones pode ser necessário criar um DataFrame utilizando dois ou mais DataFrame já existentes. Panda facilita realizar estas operações utilizando as funções `concat`, `merge` e `join`.

### Concat
A função [`concat`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) permite realizar a união de dois DataFrame. A união pode ser feita adicionando o DataFrame como uma série de colunas ou filas novas. Para aplicar está funções se aplica a seguinte sintaxe:

```python
pandas.concat(objs: Union[Iterable[FrameOrSeries], Mapping[Label, FrameOrSeries]], axis='0', join: str = "'outer'", ignore_index: bool = 'False', keys='None', levels='None', names='None', verify_integrity: bool = 'False', sort: bool = 'False', copy: bool = 'True')
```
Cabe destacar que esse método é próprio das `series` e dos `DataFrame`

In [ ]:
data = np.arange(1, 10).reshape((3, 3))
columnas = [f"Col {i}" for i in range(1, 4)]
data_frame_1 = pd.DataFrame(data=data, columns=columnas)
data_frame_2 = pd.DataFrame(data=data, columns=columnas)*10
data_frame_3 = pd.DataFrame(data=data, columns=columnas)*100

In [ ]:
data_frame_1

In [ ]:
data_frame_2

In [ ]:
data_frame_3

In [ ]:
# Passando os DataFrame que queremos juntar
pd.concat([data_frame_1, data_frame_2, data_frame_3])

In [ ]:
# observemos que os índices foram mantidos para os DataFrame original
# Se queremos “reiniciar” os índices passamos o argumento
pd.concat([data_frame_1, data_frame_2, data_frame_3], ignore_index='False')

In [ ]:
# Como vimos na reunião passada podemos passar o argumento axis para definir sobre qual eixo queremos realizar a operação
pd.concat([data_frame_1, data_frame_2, data_frame_3], axis=0)

In [ ]:
pd.concat([data_frame_1, data_frame_2, data_frame_3], axis=1)

In [ ]:
# O que acontece quando os index dos DataFrame são diferentes?
data_frame_2.index = pd.RangeIndex(start=3, stop=6, step=1)
data_frame_3.index = pd.RangeIndex(start=6, stop=9, step=1)
pd.concat([data_frame_1, data_frame_2, data_frame_3], axis=1)

### merge
Pode ser necessário realizar a união de duas tabelas que compartem os elementos de uma coluna, neste caso a função `concat` não é a mais indicada. Pandas possui o método [`marge`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) que realiza a junção de duas tabelas mesclando os elementos que compartilham a mesma coluna. A sintaxe para ralizar essa operação é:
```python
DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes='_x', '_y', copy=True, indicator=False, validate=None)
```

In [ ]:
# Modificando os DataFrame
data_frame_1["coluna em comum"] = "A B C".split(" ")
data_frame_2["coluna em comum"] = "A C B".split(" ")

In [ ]:
data_frame_1

In [ ]:
data_frame_2

In [ ]:
pd.merge(data_frame_1, data_frame_2, on="coluna em comum")

In [ ]:
# Podemos passar mais de uma coluna em comum
data_frame_1["coluna em comum 2"] = "X O I".split(" ")
data_frame_2["coluna em comum 2"] = "Q I X".split(" ")

In [ ]:
data_frame_1

In [ ]:
data_frame_2

In [ ]:
pd.merge(data_frame_1, data_frame_2, on=["coluna em comum", "coluna em comum 2"])

In [ ]:
pd.merge(data_frame_1, data_frame_2, on=["coluna em comum", "coluna em comum 2"], how="left")

In [ ]:
pd.merge(data_frame_1, data_frame_2, on=["coluna em comum", "coluna em comum 2"], how="right")

In [ ]:
pd.merge(data_frame_1, data_frame_2, on=["coluna em comum", "coluna em comum 2"], how="outer")

In [ ]:
pd.merge(data_frame_1, data_frame_2, on=["coluna em comum", "coluna em comum 2"], how="inner")

### join
Pode ser necessário combinar DataFrames que possam compartilhar os mesmos índices, neste caso as funções `concat` e `merge` não são as mais adequadas. Para resolver esses problemas os DataFrame pandas possuem o método [`join`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html) o qual consegue juntar DataFrame avaliando as semelhanças entre os índices. A sintaxe utilizada é:
```python
DataFrame.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False)
```

In [ ]:
data_frame_1.index = 1, 2, 3
data_frame_2.index = 3, 1, 4

In [ ]:
data_frame_1

In [ ]:
data_frame_2

In [ ]:
data_frame_1.join(data_frame_2, lsuffix=' Original')

In [ ]:
# Neste método temos o parâmetro how que modifica a forma de ralizar a união

In [ ]:
data_frame_1.join(data_frame_2, lsuffix=' Original', how="left")

In [ ]:
data_frame_1.join(data_frame_2, lsuffix=' Original', how="right")

In [ ]:
data_frame_1.join(data_frame_2, lsuffix=' Original', how="inner")

In [ ]:
data_frame_1.join(data_frame_2, lsuffix=' Original', how="outer")

##  Operações

### unique

O método [`unique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html) mostra os valores únicos contidos numa `Series`. Esses valores são mostrados em ordem de ocorrência. A sintaxe para utilizar este método é:

```python
pandas.unique(values)
```

In [23]:
# Forma de ser usado 1
data_frame_nan["Col_1"].unique()

array([-2, -8, -6, nan, 6, 7, -10, -7, 8], dtype=object)

In [33]:
# Forma de ser usado 2
pd.unique(data_frame_nan["Col_2"])

array([-7, 7, -9, nan, 5], dtype=object)

### nunique
O método [`nunique`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html) retorna o quantidades de ocorrências únicas numa `Series`. A sintaxe para utilizar esse método é:
```python
DataFrame.nunique(axis=0, dropna=True)
```

In [37]:
data_frame_nan

       Col_1 Col_2 Col_3 Col_4 Col_5 Col_6 Col_7 Col_8 Col_9 Col_10
Row_1     -2    -7   NaN     5     6     0    -8    -8    -8      4
Row_2     -8     7     6   NaN    -6     1     6    -1    -8    NaN
Row_3     -6    -9     3     9    -6    -6    -7    -3     7      5
Row_4    NaN   NaN   NaN     6    -8   NaN     9    -8     4      7
Row_5      6     5    -3     3   NaN     2     8   -10    -8      0
Row_6      7   NaN     3     0   NaN   NaN     8    -2     9      4
Row_7    -10   NaN     2     0   NaN    -4   NaN     5     0    NaN
Row_8     -7   NaN     6     1    -6    -5    -3    -4    -8      0
Row_9      8   NaN     2    -9    -4     0   -10    -8     9     -6
Row_10     8   NaN   NaN    -1   NaN     6    -4    -5   NaN    NaN

In [38]:
# Utilizando função sem passar nenhum tipo de parâmetro
data_frame_nan.nunique()
# Observemos que os valores Nan não são considerados

Col_1     8
Col_2     4
Col_3     4
Col_4     8
Col_5     4
Col_6     7
Col_7     8
Col_8     8
Col_9     5
Col_10    5
dtype: int64

In [41]:
# Utilizando utilizando o parâmetro dropna
data_frame_nan.nunique(dropna=False)
# Observemos que os valores Nan são considerados

Col_1     9
Col_2     5
Col_3     5
Col_4     9
Col_5     5
Col_6     8
Col_7     9
Col_8     8
Col_9     6
Col_10    6
dtype: int64

In [42]:
# Utilizando utilizando o parâmetro axis
data_frame_nan.nunique(axis=1, dropna=False)

Row_1      8
Row_2      7
Row_3      8
Row_4      6
Row_5     10
Row_6      8
Row_7      6
Row_8     10
Row_9     10
Row_10     6
dtype: int64

### value_counts
A função [`value_counts`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html) retorna uma `Series` com todos os valores e o número de ocorrências de cada valor. A sintaxe para utilizar essa função é
```python
Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)
```

In [53]:
#  Utilizando a função com o parâmetro sort
data_frame_nan["Col_1"].value_counts()

 8     2
-2     1
-6     1
-7     1
-8     1
 7     1
 6     1
-10    1
Name: Col_1, dtype: int64

In [50]:
# Utilizando a função com o parâmetro sort e normalize
data_frame_nan["Col_3"].value_counts(sort=True, normalize=True)

 6    0.285714
 3    0.285714
 2    0.285714
-3    0.142857
Name: Col_3, dtype: float64

In [52]:
# Utilizando a função com o parâmetro sort, normalize, dropna
data_frame_nan["Col_3"].value_counts(sort=True, normalize=False, dropna=False)

 NaN    3
 6.0    2
 3.0    2
 2.0    2
-3.0    1
Name: Col_3, dtype: int64

In [ ]:
# Utilizando a função com argumento sort nenhum tipo de parâmetro
data_frame_nan["Col_3"].value_counts(sort=True)

### del

`del` não é uma função ou método próprio de Pandas. Porém podemos usar ele para eliminar colunas de forma rápida. A sintaxe para realizar isso é:
```python
del nome_DataFrame[‘Nome_da_coluna_a_ser_eliminada’]
```

In [65]:
data_frame_nan

       Col_1 Col_2 Col_3 Col_4 Col_5 Col_6 Col_7 Col_8 Col_9 Col_10
Row_1     -2    -7   NaN     5     6     0    -8    -8    -8      4
Row_2     -8     7     6   NaN    -6     1     6    -1    -8    NaN
Row_3     -6    -9     3     9    -6    -6    -7    -3     7      5
Row_4    NaN   NaN   NaN     6    -8   NaN     9    -8     4      7
Row_5      6     5    -3     3   NaN     2     8   -10    -8      0
Row_6      7   NaN     3     0   NaN   NaN     8    -2     9      4
Row_7    -10   NaN     2     0   NaN    -4   NaN     5     0    NaN
Row_8     -7   NaN     6     1    -6    -5    -3    -4    -8      0
Row_9      8   NaN     2    -9    -4     0   -10    -8     9     -6
Row_10     8   NaN   NaN    -1   NaN     6    -4    -5   NaN    NaN

In [63]:
del data_frame_nan["Col_6"]

AttributeError: __delitem__

In [57]:
data_frame_nan

       Col_1 Col_2 Col_3 Col_4 Col_5 Col_7 Col_8 Col_9 Col_10
Row_1     -2    -7   NaN     5     6    -8    -8    -8      4
Row_2     -8     7     6   NaN    -6     6    -1    -8    NaN
Row_3     -6    -9     3     9    -6    -7    -3     7      5
Row_4    NaN   NaN   NaN     6    -8     9    -8     4      7
Row_5      6     5    -3     3   NaN     8   -10    -8      0
Row_6      7   NaN     3     0   NaN     8    -2     9      4
Row_7    -10   NaN     2     0   NaN   NaN     5     0    NaN
Row_8     -7   NaN     6     1    -6    -3    -4    -8      0
Row_9      8   NaN     2    -9    -4   -10    -8     9     -6
Row_10     8   NaN   NaN    -1   NaN    -4    -5   NaN    NaN

### columns
O método `columns` retorna os labels do `DataFrame`. A sintaxe para utilizar este método é:
```python
DataFrame.columns
```

In [58]:
data_frame_nan.columns

Index(['Col_1', 'Col_2', 'Col_3', 'Col_4', 'Col_5', 'Col_7', 'Col_8', 'Col_9',
       'Col_10'],
      dtype='object')

### index
O método `index` retorna os índices (labels das filas) do `DataFrame`. A sintaxe para utilizar este método é:
```python
DataFrame.index
```

In [59]:
data_frame_nan.index

Index(['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5', 'Row_6', 'Row_7', 'Row_8',
       'Row_9', 'Row_10'],
      dtype='object')

### sort_values

A função [`sort_values`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) organiza um DataFrame por colunas ou filas. Está função permite organizar os DataFrame por varias colunas ou filas ao mesmo tempo. A sintaxe para aplicar essa função é:
```python
DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)
```

In [67]:
data_frame_nan

       Col_1 Col_2 Col_3 Col_4 Col_5 Col_6 Col_7 Col_8 Col_9 Col_10
Row_1     -2    -7   NaN     5     6     0    -8    -8    -8      4
Row_2     -8     7     6   NaN    -6     1     6    -1    -8    NaN
Row_3     -6    -9     3     9    -6    -6    -7    -3     7      5
Row_4    NaN   NaN   NaN     6    -8   NaN     9    -8     4      7
Row_5      6     5    -3     3   NaN     2     8   -10    -8      0
Row_6      7   NaN     3     0   NaN   NaN     8    -2     9      4
Row_7    -10   NaN     2     0   NaN    -4   NaN     5     0    NaN
Row_8     -7   NaN     6     1    -6    -5    -3    -4    -8      0
Row_9      8   NaN     2    -9    -4     0   -10    -8     9     -6
Row_10     8   NaN   NaN    -1   NaN     6    -4    -5   NaN    NaN

In [73]:
# Só utilizando o parâmetro by e ordenando somente por uma coluna
data_frame_nan.sort_values(by="Col_2")

       Col_1 Col_2 Col_3 Col_4 Col_5 Col_6 Col_7 Col_8 Col_9 Col_10
Row_3     -6    -9     3     9    -6    -6    -7    -3     7      5
Row_1     -2    -7   NaN     5     6     0    -8    -8    -8      4
Row_5      6     5    -3     3   NaN     2     8   -10    -8      0
Row_2     -8     7     6   NaN    -6     1     6    -1    -8    NaN
Row_4    NaN   NaN   NaN     6    -8   NaN     9    -8     4      7
Row_6      7   NaN     3     0   NaN   NaN     8    -2     9      4
Row_7    -10   NaN     2     0   NaN    -4   NaN     5     0    NaN
Row_8     -7   NaN     6     1    -6    -5    -3    -4    -8      0
Row_9      8   NaN     2    -9    -4     0   -10    -8     9     -6
Row_10     8   NaN   NaN    -1   NaN     6    -4    -5   NaN    NaN

In [72]:
# Só utilizando o parâmetro by e ordenando somente por duas colunas
data_frame_nan.sort_values(by=["Col_2", "Col_3"])

       Col_1 Col_2 Col_3 Col_4 Col_5 Col_6 Col_7 Col_8 Col_9 Col_10
Row_3     -6    -9     3     9    -6    -6    -7    -3     7      5
Row_1     -2    -7   NaN     5     6     0    -8    -8    -8      4
Row_5      6     5    -3     3   NaN     2     8   -10    -8      0
Row_2     -8     7     6   NaN    -6     1     6    -1    -8    NaN
Row_7    -10   NaN     2     0   NaN    -4   NaN     5     0    NaN
Row_9      8   NaN     2    -9    -4     0   -10    -8     9     -6
Row_6      7   NaN     3     0   NaN   NaN     8    -2     9      4
Row_8     -7   NaN     6     1    -6    -5    -3    -4    -8      0
Row_4    NaN   NaN   NaN     6    -8   NaN     9    -8     4      7
Row_10     8   NaN   NaN    -1   NaN     6    -4    -5   NaN    NaN

In [75]:
# Organizando o vetor por filas
data_frame_nan.sort_values(by=["Row_2"], axis=1)

       Col_1 Col_9 Col_5 Col_8 Col_6 Col_3 Col_7 Col_2 Col_4 Col_10
Row_1     -2    -8     6    -8     0   NaN    -8    -7     5      4
Row_2     -8    -8    -6    -1     1     6     6     7   NaN    NaN
Row_3     -6     7    -6    -3    -6     3    -7    -9     9      5
Row_4    NaN     4    -8    -8   NaN   NaN     9   NaN     6      7
Row_5      6    -8   NaN   -10     2    -3     8     5     3      0
Row_6      7     9   NaN    -2   NaN     3     8   NaN     0      4
Row_7    -10     0   NaN     5    -4     2   NaN   NaN     0    NaN
Row_8     -7    -8    -6    -4    -5     6    -3   NaN     1      0
Row_9      8     9    -4    -8     0     2   -10   NaN    -9     -6
Row_10     8   NaN   NaN    -5     6   NaN    -4   NaN    -1    NaN

In [77]:
# Organizando o vetor por filas
data_frame_nan.sort_values(by=["Row_2", "Row_3"], axis=1)

       Col_1 Col_9 Col_5 Col_8 Col_6 Col_7 Col_3 Col_2 Col_10 Col_4
Row_1     -2    -8     6    -8     0    -8   NaN    -7      4     5
Row_2     -8    -8    -6    -1     1     6     6     7    NaN   NaN
Row_3     -6     7    -6    -3    -6    -7     3    -9      5     9
Row_4    NaN     4    -8    -8   NaN     9   NaN   NaN      7     6
Row_5      6    -8   NaN   -10     2     8    -3     5      0     3
Row_6      7     9   NaN    -2   NaN     8     3   NaN      4     0
Row_7    -10     0   NaN     5    -4   NaN     2   NaN    NaN     0
Row_8     -7    -8    -6    -4    -5    -3     6   NaN      0     1
Row_9      8     9    -4    -8     0   -10     2   NaN     -6    -9
Row_10     8   NaN   NaN    -5     6    -4   NaN   NaN    NaN    -1

### pivot

O método [`pivot`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html) é um dos métodos mais simples de Pandas, mas ao mesmo tempo, um dos mais usados. Esse método está no mesmo nível que `groupby` e `aggregate`. Esse método se encarrega de reestruturar a um DataFrame. A sintaxe para aplicar esse método é:
```python
DataFrame.pivot(index=None, columns=None, values=None)
```

In [95]:
data_url = 'http://bit.ly/2cLzoxH'
data_frame_exemple = pd.read_csv(data_url)
data_frame_exemple

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [98]:
# Re-estruturando o dataframe
data_frame_exemple.pivot(index="country", columns="year", values="lifeExp")

year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,,,,,,,,,,,,
Afghanistan,28.801,30.332,31.997,34.020,36.088,38.438,39.854,40.822,41.674,41.763,42.129,43.828
Albania,55.230,59.280,64.820,66.220,67.690,68.930,70.420,72.000,71.581,72.950,75.651,76.423
Algeria,43.077,45.685,48.303,51.407,54.518,58.014,61.368,65.799,67.744,69.152,70.994,72.301
Angola,30.015,31.999,34.000,35.985,37.928,39.483,39.942,39.906,40.647,40.963,41.003,42.731
Argentina,62.485,64.399,65.142,65.634,67.065,68.481,69.942,70.774,71.868,73.275,74.340,75.320
...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,40.412,42.887,45.363,47.838,50.254,55.764,58.816,62.820,67.662,70.672,73.017,74.249
West Bank and Gaza,43.160,45.671,48.127,51.631,56.532,60.765,64.406,67.046,69.718,71.096,72.370,73.422
Yemen Rep.,32.548,33.970,35.180,36.984,39.848,44.175,49.113,52.922,55.599,58.020,60.308,62.698
Zambia,42.038,44.077,46.023,47.768,50.107,51.386,51.821,50.821,46.100,40.238,39.193,42.384
Zimbabwe,48.451,50.469,52.358,53.995,55.635,57.674,60.363,62.351,60.377,46.809,39.989,43.487

In [99]:
# Re-estruturando o dataframe, trabalhando com dois index
data_frame_exemple.pivot(index=["country", "continent"], columns="year", values="lifeExp")

,year,1952,1957,1962,1967,1972,1977,1982,1987,1992,1997,2002,2007
country,continent,,,,,,,,,,,,
Afghanistan,Asia,28.801,30.332,31.997,34.020,36.088,38.438,39.854,40.822,41.674,41.763,42.129,43.828
Albania,Europe,55.230,59.280,64.820,66.220,67.690,68.930,70.420,72.000,71.581,72.950,75.651,76.423
Algeria,Africa,43.077,45.685,48.303,51.407,54.518,58.014,61.368,65.799,67.744,69.152,70.994,72.301
Angola,Africa,30.015,31.999,34.000,35.985,37.928,39.483,39.942,39.906,40.647,40.963,41.003,42.731
Argentina,Americas,62.485,64.399,65.142,65.634,67.065,68.481,69.942,70.774,71.868,73.275,74.340,75.320
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,Asia,40.412,42.887,45.363,47.838,50.254,55.764,58.816,62.820,67.662,70.672,73.017,74.249
West Bank and Gaza,Asia,43.160,45.671,48.127,51.631,56.532,60.765,64.406,67.046,69.718,71.096,72.370,73.422
Yemen Rep.,Asia,32.548,33.970,35.180,36.984,39.848,44.175,49.113,52.922,55.599,58.020,60.308,62.698
Zambia,Africa,42.038,44.077,46.023,47.768,50.107,51.386,51.821,50.821,46.100,40.238,39.193,42.384
Zimbabwe,Africa,48.451,50.469,52.358,53.995,55.635,57.674,60.363,62.351,60.377,46.809,39.989,43.487

In [100]:
# Re-estruturando o dataframe, trabalhando com dois index
data_frame_exemple.pivot(index=["country", "continent"], columns="year", values=["lifeExp", "pop"])

                             lifeExp                                          \
year                            1952    1957    1962    1967    1972    1977
country            continent
Afghanistan        Asia       28.801  30.332  31.997  34.020  36.088  38.438
Albania            Europe     55.230  59.280  64.820  66.220  67.690  68.930
Algeria            Africa     43.077  45.685  48.303  51.407  54.518  58.014
Angola             Africa     30.015  31.999  34.000  35.985  37.928  39.483
Argentina          Americas   62.485  64.399  65.142  65.634  67.065  68.481
...                              ...     ...     ...     ...     ...     ...
Vietnam            Asia       40.412  42.887  45.363  47.838  50.254  55.764
West Bank and Gaza Asia       43.160  45.671  48.127  51.631  56.532  60.765
Yemen Rep.         Asia       32.548  33.970  35.180  36.984  39.848  44.175
Zambia             Africa     42.038  44.077  46.023  47.768  50.107  51.386
Zimbabwe           Africa     48.451  50.469  52.358  53.995  55.635  57.674

                                                              ...         pop  \
year                            1982    1987    1992    1997  ...        1962
country            continent                                  ...
Afghanistan        Asia       39.854  40.822  41.674  41.763  ...  10267083.0
Albania            Europe     70.420  72.000  71.581  72.950  ...   1728137.0
Algeria            Africa     61.368  65.799  67.744  69.152  ...  11000948.0
Angola             Africa     39.942  39.906  40.647  40.963  ...   4826015.0
Argentina          Americas   69.942  70.774  71.868  73.275  ...  21283783.0
...                              ...     ...     ...     ...  ...         ...
Vietnam            Asia       58.816  62.820  67.662  70.672  ...  33796140.0
West Bank and Gaza Asia       64.406  67.046  69.718  71.096  ...   1133134.0
Yemen Rep.         Asia       49.113  52.922  55.599  58.020  ...   6120081.0
Zambia             Africa     51.821  50.821  46.100  40.238  ...   3421000.0
Zimbabwe           Africa     60.363  62.351  60.377  46.809  ...   4277736.0

                                                                              \
year                                1967        1972        1977        1982
country            continent
Afghanistan        Asia       11537966.0  13079460.0  14880372.0  12881816.0
Albania            Europe      1984060.0   2263554.0   2509048.0   2780097.0
Algeria            Africa     12760499.0  14760787.0  17152804.0  20033753.0
Angola             Africa      5247469.0   5894858.0   6162675.0   7016384.0
Argentina          Americas   22934225.0  24779799.0  26983828.0  29341374.0
...                                  ...         ...         ...         ...
Vietnam            Asia       39463910.0  44655014.0  50533506.0  56142181.0
West Bank and Gaza Asia        1142636.0   1089572.0   1261091.0   1425876.0
Yemen Rep.         Asia        6740785.0   7407075.0   8403990.0   9657618.0
Zambia             Africa      3900000.0   4506497.0   5216550.0   6100407.0
Zimbabwe           Africa      4995432.0   5861135.0   6642107.0   7636524.0

                                                                              \
year                                1987        1992        1997        2002
country            continent
Afghanistan        Asia       13867957.0  16317921.0  22227415.0  25268405.0
Albania            Europe      3075321.0   3326498.0   3428038.0   3508512.0
Algeria            Africa     23254956.0  26298373.0  29072015.0  31287142.0
Angola             Africa      7874230.0   8735988.0   9875024.0  10866106.0
Argentina          Americas   31620918.0  33958947.0  36203463.0  38331121.0
...                                  ...         ...         ...         ...
Vietnam            Asia       62826491.0  69940728.0  76048996.0  80908147.0
West Bank and Gaza Asia        1691210.0   2104779.0   2826046.0   3389578.0
Yemen Rep.         Asia       11219340.0  13367997.0  15826497.0  18701257.0
Zambia             Africa      7272406.0   8381163.0   9417789.0  10595811.0
Zimbabwe           Africa      9216418.0  10704340.0  11404948.0  11926563.0


year                                2007
country            continent
Afghanistan        Asia       31889923.0
Albania            Europe      3600523.0
Algeria            Africa     33333216.0
Angola             Africa     12420476.0
Argentina          Americas   40301927.0
...                                  ...
Vietnam            Asia       85262356.0
West Bank and Gaza Asia        4018332.0
Yemen Rep.         Asia       22211743.0
Zambia             Africa     11746035.0
Zimbabwe           Africa     12311143.0

[142 rows x 24 columns]

### describe

A função [`describe`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) apresenta as estatísticas de um DataFrame, sendo: média, desvio padrão, quartis, etc. A sintaxe para aplicar está função é:
```python
DataFrame.describe(percentiles=None, include=None, exclude=None, datetime_is_numeric=False)
```

In [103]:
data_frame_exemple.describe()

             year           pop      lifeExp      gdpPercap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165877
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846989
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [104]:
data_frame_nan.describe()

        Col_1  Col_2  Col_3  Col_4  Col_5  Col_6  Col_7  Col_8  Col_9  Col_10
count       9      4      7      9      6      8      9     10      9       7
unique      8      4      4      8      4      7      8      8      5       5
top         8     -9      6      0     -6      0      8     -8     -8       4
freq        2      1      2      2      3      2      2      3      4       2

### info

O método [`info`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html) apresenta um resumo do DataFrame. A sintaxe para aplicar esse método é:
```python
DataFrame.info(verbose=None, buf=None, max_cols=None, memory_usage=None, null_counts=None)
```

In [116]:
data_frame_exemple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB

In [117]:
data_frame_nan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, Row_1 to Row_10
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Col_1   9 non-null      object
 1   Col_2   4 non-null      object
 2   Col_3   7 non-null      object
 3   Col_4   9 non-null      object
 4   Col_5   6 non-null      object
 5   Col_6   8 non-null      object
 6   Col_7   9 non-null      object
 7   Col_8   10 non-null     object
 8   Col_9   9 non-null      object
 9   Col_10  7 non-null      object
dtypes: object(10)
memory usage: 1.2+ KB

## Exportando e importando dados

Uma das habilidades mais relevantes de Pandas é a forma eficiente de escrever e transformar esses arquivos em DataFrame. A biblioteca pandas possui mais de 15 funções que realizam a leitura de arquivos e os transformam em `pandas.DataFrame`.

---
As funções que utilizaremos para leitura de arquivos são:
- `pd.read_csv()`
- `pd.read_excel()`
- `pd.read_html()`
- `pd.to_csv()`
- `pd.to_excel()`

### read_csv

A função [`pd.read_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) realiza a leitura de arquivos `.csv` ou `.txt` e os transforma em DataFrame. A sintaxe para utilizar está função é:
```python
pandas.read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
```
Como podemos observar esta função possui diversos parâmetros, porém o único parâmetro obrigatório é `filepath_or_buffer`, os outros parâmetros estão definidos por padrão. Mas devemos ter cuidado com o parâmetro `sep` o qual pude ser diferente ao valor padrão "`,`".

In [132]:
# Lendo um arquivo csv com separador padrão
arquivo_1 = pd.read_csv("./Dados/arquivo1.csv")
arquivo_1

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
...,...,...,...,...,...,...,...,...
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000

In [195]:
# Lendo mais um arquivo csv
arquivo_2 = pd.read_csv("./Dados/arquivo2.csv")
arquivo_2

,0.00E+00,0.00E+00.1,0.00E+00.2,0.00E+00.3,0.00E+00.4,0.00E+00.5,0.00E+00.6,0.00E+00.7,0.00E+00.8,0.00E+00.9,...,0.00E+00.19,0.00E+00.20,0.00E+00.21,0.00E+00.22,0.00E+00.23,0.00E+00.24,0.00E+00.25,0.00E+00.26,0.00E+00.27,0.00E+00.28
0,0.0,19.500,1.02,0.391,0.202,0.0350,0.0122,0.29,4.44,9.8300,...,4.37,2.27,0.1180,0.079,3.050,7.01,9.81,0.0481,0.5550,7.390
1,1.0,19.500,1.02,0.391,0.202,0.0350,0.0122,0.29,4.44,9.8300,...,4.37,2.27,0.1180,0.079,3.050,7.01,9.81,0.0481,0.5550,7.390
2,2.0,19.500,1.02,0.391,0.202,0.0350,0.0122,0.29,4.44,9.8300,...,4.37,2.27,0.1180,0.079,3.050,7.01,9.81,0.0481,0.5550,7.390
3,3.0,19.500,1.02,0.391,0.202,0.0350,0.0122,0.29,4.44,9.8300,...,4.37,2.27,0.1180,0.079,3.050,7.01,9.81,0.0481,0.5550,7.390
4,4.0,19.500,1.02,0.391,0.202,0.0350,0.0122,0.29,4.44,9.8300,...,4.37,2.27,0.1180,0.079,3.050,7.01,9.81,0.0481,0.5550,7.390
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8746,8750.0,0.743,1.86,0.349,0.396,0.0391,0.0147,2.62,5.73,0.5040,...,7.60,6.26,0.0732,0.109,0.941,9.52,1.98,0.0433,0.0287,0.226
8747,8750.0,0.743,1.86,0.349,0.396,0.0391,0.0147,2.62,5.73,0.5040,...,7.60,6.26,0.0732,0.109,0.941,9.52,1.98,0.0433,0.0287,0.226
8748,8750.0,0.743,1.86,0.349,0.396,0.0391,0.0147,2.62,5.73,0.5040,...,7.60,6.26,0.0732,0.109,0.941,9.52,1.98,0.0433,0.0287,0.226
8749,8750.0,0.743,1.86,0.349,0.396,0.0391,0.0147,2.62,5.73,0.5040,...,7.60,6.26,0.0732,0.109,0.941,9.52,1.98,0.0433,0.0287,0.226
8750,8750.0,0.723,1.62,0.330,0.405,0.0356,0.0140,2.83,4.47,0.0111,...,9.33,8.88,0.0768,0.109,0.775,9.56,1.41,0.0436,0.0251,0.174

In [196]:
# Lendo mais um arquivo csv
arquivo_3 = pd.read_csv("./Dados/arquivo3.csv", sep="-")
arquivo_3

    year                    language
0   1951  Regional Assembly Language
1   1952                    Autocode
2   1954                         IPL
3   1955                  FLOW MATIC
4   1957                     FORTRAN
..   ...                         ...
68  2011                      Kotlin
69  2011                         Red
70  2011                      Elixir
71  2012                       Julia
72  2014                       Swift

[73 rows x 2 columns]

### read_excel
A função [`read_excel`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html) permite a leitura de arquivos tipo excel. Vale  destacar que a as extensões permitidas são: xls, xlsx, xlsm, xlsb, odf, ods. A sintaxe para a utilizar esta função é:
```python
pandas.read_excel(io, sheet_name=0, header=0, names=None, index_col=None, usecols=None, squeeze=False, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, verbose=False, parse_dates=False, date_parser=None, thousands=None, comment=None, skip_footer=0, skipfooter=0, convert_float=True, mangle_dupe_cols=True, **kwds)
```

In [198]:
arquivo_4 = pd.read_excel(io="./Dados/arquivo4.xlsx")
arquivo_4

    year                    language
0   1951  Regional Assembly Language
1   1952                    Autocode
2   1954                         IPL
3   1955                  FLOW MATIC
4   1957                     FORTRAN
..   ...                         ...
68  2011                      Kotlin
69  2011                         Red
70  2011                      Elixir
71  2012                       Julia
72  2014                       Swift

[73 rows x 2 columns]

In [204]:
arquivo_5 = pd.read_excel(io="./Dados/arquivo5.xlsx")
arquivo_5

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.19,0.20,0.21,0.22,0.23,0.24,0.25,0.26,0.27,0.28
0,0,19.459274,1.019596,0.391095,0.202314,0.035023,0.012180,0.290197,4.440008,9.828326,...,4.370077,2.266101,0.117615,0.078961,3.053336,7.006424,9.814404,0.048076,0.555338,7.385751
1,1,19.459274,1.019596,0.391095,0.202314,0.035023,0.012180,0.290197,4.440008,9.828326,...,4.370077,2.266101,0.117615,0.078961,3.053336,7.006424,9.814404,0.048076,0.555338,7.385751
2,2,19.459274,1.019596,0.391095,0.202314,0.035023,0.012180,0.290197,4.440008,9.828326,...,4.370077,2.266101,0.117615,0.078961,3.053336,7.006424,9.814404,0.048076,0.555338,7.385751
3,3,19.459274,1.019596,0.391095,0.202314,0.035023,0.012180,0.290197,4.440008,9.828326,...,4.370077,2.266101,0.117615,0.078961,3.053336,7.006424,9.814404,0.048076,0.555338,7.385751
4,4,19.459274,1.019596,0.391095,0.202314,0.035023,0.012180,0.290197,4.440008,9.828326,...,4.370077,2.266101,0.117615,0.078961,3.053336,7.006424,9.814404,0.048076,0.555338,7.385751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8746,8746,0.743481,1.860882,0.348647,0.396076,0.039056,0.014734,2.619609,5.732972,0.504431,...,7.599976,6.262046,0.073156,0.108892,0.941119,9.515523,1.983941,0.043303,0.028719,0.226074
8747,8747,0.743481,1.860882,0.348647,0.396076,0.039056,0.014734,2.619609,5.732972,0.504431,...,7.599976,6.262046,0.073156,0.108892,0.941119,9.515523,1.983941,0.043303,0.028719,0.226074
8748,8748,0.743481,1.860882,0.348647,0.396076,0.039056,0.014734,2.619609,5.732972,0.504431,...,7.599976,6.262046,0.073156,0.108892,0.941119,9.515523,1.983941,0.043303,0.028719,0.226074
8749,8749,0.743481,1.860882,0.348647,0.396076,0.039056,0.014734,2.619609,5.732972,0.504431,...,7.599976,6.262046,0.073156,0.108892,0.941119,9.515523,1.983941,0.043303,0.028719,0.226074
8750,8750,0.722735,1.622826,0.330114,0.405208,0.035643,0.014002,2.826391,4.465347,0.011147,...,9.327925,8.882620,0.076847,0.109450,0.774720,9.562726,1.410069,0.043550,0.025087,0.173824

In [215]:
# E se o arquivo tem mais de uma aba?
arquivo_6 = pd.read_excel(io="./Dados/arquivo6.xlsx")
arquivo_6

{'A':     Time [h]  Cell [g/L]  Glucose [g/L]  Xylose [g/L]  Ethanol [g/L]
 0          0   12.020070      12.528429     47.368901       0.605559
 1          1   12.171590      12.235646     47.040265       1.174964
 2          2   12.326785      11.396671     46.572356       1.905466
 3          3   12.484214       9.370715     45.910947       2.826546
 4          4   12.642350       5.998412     44.985505       3.962882
 5          5   12.799639       2.791232     43.708940       5.327675
 6          6   12.954561       1.011180     41.982199       6.915026
 7          7   13.105683       0.303476     39.707409       8.693681
 8          8   13.251718       0.060384     36.812688      10.605348
 9          9   13.391559       0.000000     33.287267      12.570114
 10        10   13.524304       0.000000     29.216183      14.498795
 11        11   13.649277       0.000000     24.794017      16.308547
 12        12   13.766018       0.000000     20.298615      17.936230
 13        13   13.874277       0.000000     16.026435      19.345289
 14        14   13.973996       0.000000     12.218541      20.525309
 15        15   14.065278       0.000000      9.013631      21.486389
 16        16   14.148362       0.000000      6.443874      22.251555
 17        17   14.223593       0.000000      4.462320      22.849794
 18        18   14.291393       0.000000      2.979864      23.310922
 19        19   14.352239       0.000000      1.895708      23.662485
 20        20   14.406636       0.000000      1.115941      23.928280
 21        21   14.455102       0.000000      0.561801      24.127962
 22        22   14.498155       0.000000      0.171355      24.277262
 23        23   14.536295       0.000000      0.000000      24.388495
 24        24   14.570002       0.000000      0.000000      24.471147
 25        25   14.599730       0.000000      0.000000      24.532440,
 'B':     Time [h]  Cell [g/L]  Glucose [g/L]  Xylose [g/L]  Ethanol [g/L]
 0          0   17.858597      18.792635     72.765439       1.080474
 1          1   17.955598      18.026321     72.537146       1.693438
 2          2   18.063368      16.722746     72.248954       2.386728
 3          3   18.181791      14.691290     71.881089       3.166295
 4          4   18.310351      11.920931     71.405487       4.037132
 5          5   18.448094       8.758449     70.782099       5.002807
 6          6   18.593613       5.804647     69.954172       6.064969
 7          7   18.745080       3.519905     68.843433       7.222850
 8          8   18.900316       1.997115     67.348211       8.472828
 9          9   19.056915       1.080263     65.351268       9.808104
 10        10   19.212382       0.561644     62.747546      11.218559
 11        11   19.364295       0.278601     59.497347      12.690854
 12        12   19.510450       0.127138     55.686483      14.208786
 13        13   19.648982       0.046940     51.541375      15.753923
 14        14   19.778442       0.004714     47.356858      17.306451
 15        15   19.897834       0.000000     43.374557      18.846174
 16        16   20.006605       0.000000     39.706712      20.353559
 17        17   20.104602       0.000000     36.347571      21.810695
 18        18   20.192010       0.000000     33.232367      23.202100
 19        19   20.269280       0.000000     30.290509      24.515277
 20        20   20.337047       0.000000     27.472695      25.741002
 21        21   20.396070       0.000000     24.756830      26.873354
 22        22   20.447165       0.000000     22.143189      27.909515
 23        23   20.491166       0.000000     19.646230      28.849416
 24        24   20.528888       0.000000     17.286696      29.695272
 25        25   20.561102       0.000000     15.085450      30.451081
 26        26   20.588520       0.000000     13.059373      31.122139
 27        27   20.611791       0.000000     11.219183      31.714583
 28        28   20.631495       0.000000      9.568790      32.235015
 29        29   20.648146       0.000000      8.105748      32.690182
 30        30   20.662192       0.000000      6.822353      33.086742
 31        31   20.674023       0.000000      5.707007      33.431085
 32        32   20.683977       0.000000      4.745612      33.729218
 33        33   20.692343       0.000000      3.922781      33.986693
 34        34   20.699368       0.000000      3.222834      34.208571
 35        35   20.705263       0.000000      2.630514      34.399416
 36        36   20.710207       0.000000      2.131486      34.563302
 37        37   20.714351       0.000000      1.712624      34.703844
 38        38   20.717823       0.000000      1.362152      34.824223
 39        39   20.720731       0.000000      1.069675      34.927227
 40        40   20.723165       0.000000      0.826132      35.015287,
 'C':     Time [h]  Cell [g/L]  Glucose [g/L]  Xylose [g/L]  Ethanol [g/L]
 0          0   11.775414      38.674890     23.490220       0.277502
 1          1   11.977895      37.356610     23.395839       1.228077
 2          2   12.216936      35.728102     23.278517       2.213859
 3          3   12.496003      33.759197     23.134914       3.229098
 4          4   12.817587      31.439753     22.962394       4.267250
 5          5   13.182652      28.789483     22.759650       5.321120
 6          6   13.590092      25.864754     22.527305       6.383060
 7          7   14.036290      22.758514     22.268241       7.445184
 8          8   14.514906      19.590944     21.987356       8.499601
 9          9   15.017009      16.491973     21.690444       9.538645
 10        10   15.531622      13.580645     21.382065      10.555098
 11        11   16.046609      10.947993     21.062380      11.542381
 12        12   16.549805       8.648225     20.722997      12.494703
 13        13   17.030130       6.699134     20.341650      13.407181
 14        14   17.478511       5.089169     19.875424      14.275895
 15        15   17.888441       3.787325     19.252831      15.097912
 16        16   18.256141       2.752628     18.367841      15.871262
 17        17   18.580363       1.941470     17.085831      16.594884
 18        18   18.861960       1.312375     15.280680      17.268539
 19        19   19.103345       0.828545     12.918083      17.892716
 20        20   19.307942       0.458826     10.151767      18.468515
 21        21   19.479706       0.177695      7.326544      18.997539
 22        22   19.622754       0.000000      4.824157      19.481784
 23        23   19.741090       0.000000      2.874255      19.923531
 24        24   19.838444       0.000000      1.501244      20.325260
 25        25   19.918170       0.000000      0.601651      20.689566
 26        26   19.983218       0.000000      0.039406      21.019087
 27        27   20.036128       0.000000      0.000000      21.316456,
 'D':     Time [h]  Cell [g/L]  Glucose [g/L]  Xylose [g/L]  Ethanol [g/L]
 0          0   17.949808      57.745841     35.859937       0.226030
 1          1   18.229299      55.266980     35.712480       1.827829
 2          2   18.512166      52.750890     35.552906       2.961578
 3          3   18.797496      50.210004     35.380531       3.965043
 4          4   19.084344      47.657255     35.194691       4.891403
 5          5   19.371743      45.105821     34.994755       5.763795
 6          6   19.658719      42.568854     34.780137       6.595068
 7          7   19.944305      40.059207     34.550319       7.393340
 8          8   20.227550      37.589181     34.304860       8.164171
 9          9   20.507536      35.170290     34.043418       8.911598
 10        10   20.783389      32.813061     33.765770       9.638669
 11        11   21.054285      30.526871     33.471826      10.347765
 12        12   21.319466      28.319831     33.161648      11.040794
 13        13   21.578239      26.198713     32.835463      11.719314
 14        14   21.829991      24.168920     32.493672      12.384622
 15        15   22.074184      22.234497     32.136856      13.037812
 16        16   22.310364      20.398180     31.765770      13.679817
 17        17   22.538159      18.661474     31.381329      14.311447
 18        18   22.757275      17.024752     30.984582      14.933403
 19        19   22.967500      15.487368     30.576661      15.546303
 20        20   23.168693      14.047791     30.158714      16.150696
 21        21   23.360786      12.703730     29.731798      16.747069
 22        22   23.543776      11.452265     29.296726      17.335859
 23        23   23.717716      10.289972     28.853856      17.917459
 24        24   23.882717       9.213040     28.402779      18.492226
 25        25   24.038932       8.217379     27.941882      19.060485
 26        26   24.186556       7.298715     27.467725      19.622532
 27        27   24.325819       6.452671     26.974169      20.178638
 28        28   24.456979       5.674845     26.451170      20.729052
 29        29   24.580316       4.960865     25.883186      21.274006
 30        30   24.696128       4.306438     25.247199      21.813711
 31        31   24.804725       3.707395     24.510602      22.348366
 32        32   24.906426       3.159714     23.629658      22.878155
 33        33   25.001555       2.659549     22.550084      23.403248
 34        34   25.090436       2.203241     21.212453      23.923807
 35        35   25.173393       1.787330     19.565633      24.439981
 36        36   25.250744       1.408559     17.589474      24.951911
 37        37   25.322803       1.063878     15.321046      25.459729
 38        38   25.389875       0.750437     12.868929      25.963560
 39        39   25.452254       0.465587     10.397977      26.463522
 40        40   25.510228       0.206870      8.083574      26.959725
 41        41   25.564069       0.000000      6.059537      27.452275
 42        42   25.614042       0.000000      4.389694      27.941271
 43        43   25.660395       0.000000      3.072340      28.426808
 44        44   25.703369       0.000000      2.064132      28.908974
 45        45   25.743188       0.000000      1.305376      29.387857
 46        46   25.780068       0.000000      0.737181      29.863537
 47        47   25.814211       0.000000      0.309630      30.336091
 48        48   25.845806       0.000000      0.000000      30.805593
 49        49   25.875033       0.000000      0.000000      31.272114}

### read_html
A função [`read_html`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html) permite realizar a leitura de uma tabela contida num site. Para utilizar está função aplicamos a seguinte sintaxe:
```python
pandas.read_html(io, match='.+', flavor=None, header=None, index_col=None, skiprows=None, attrs=None, parse_dates=False, tupleize_cols=None, thousands=', ', encoding=None, decimal='.', converters=None, na_values=None, keep_default_na=True, displayed_only=True)
```

In [238]:
tabela_html_1 = pd.read_html("http://www.ipeadata.gov.br/ExibeSerie.aspx?serid=32098&module=M")

In [239]:
tabela_html_2 = pd.read_html("https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/banklist.html")

### to_csv
A função [`to_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html) permite exportar um DataFrame para um arquivo .csv. A sintaxe para utilizar esta função e:
```python
DataFrame.to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', line_terminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict')
```

In [241]:
tabela_html_1[2].to_csv("html_to_csv.csv")

### to_excel
A função [`to_excel`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html) permite exportar uma DataFrame para um arquivo .xlsx. A sintaxe para utilizar esta função e:
```python
DataFrame.to_excel(excel_writer, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, encoding=None, inf_rep='inf', verbose=True, freeze_panes=None)
```

In [243]:
tabela_html_2[0].to_excel("html_to_excel.xlsx")